@font-face {
    font-family: gothamBold;
    src: url('../fonts/Gotham-Bold.ttf');
}

@font-face {
    font-family: gothamBook;
    src: url('../fonts/Gotham-Book.ttf');
}

@font-face {
    font-family: gothamLight;
    src: url('../fonts/Gotham-Light.ttf');
}