$enable-flex: true;
$enable-grid-classes: true;


@import 'functions';
@import 'variables';
@import 'mixins';
@import 'reboot';
@import 'grid';
@import 'fonts';
@import 'transitions';
@import 'navbar';
@import 'dropdown';
@import 'spacing';
@import 'flex';
@import 'text';
@import 'forms';
@import 'input-group';

.rotate {
    transform: rotate(180deg);
}

.d-none {
    display: none !important;
}

.navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
}

body {
    font-family: gothamBook;
    font-size: 14px;
}

#home, #testimonial, #jobs, #internship {
    padding-bottom: 8vw;
}

#detail {
    padding-bottom: 4vw;
}

@media screen and (max-width: 767px) {
    #home,  #jobs, #internship {
        padding-bottom: 40vw;
    }
    #testimonial, #detail {
        padding-bottom: 50vw;
    }
}

/* Custom Container */

@media (min-width: 1090px) {
    .container {
        max-width: 1090px;
        margin: 0 auto;
        position: relative;
        &.testi-cont {
            max-width: 810px;
        }
    }
}


/* navigation */

@media screen and (max-width:767px) {
    header {
        position: relative;
        z-index: 999;
    }
    html, body {
        overflow-x: hidden;
    }
}

.header-nav {
    width: 100%;
    background-color: #FFE21B;

    @media screen and (max-width:767px) {
        display: none
    }
    
    .logo-wrapper {
        padding: 0 0 10 px 0;
        text-align: center;
    }
    .header-side-nav {
        display: flex;
        justify-content: center;
        align-items: center;

        .input-group-mobile {
            width: 50%;
            input {
                height: 2.5vw;
            }
            button {
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
                border: 1px solid #ced4da;
                background-color: #3a3a3c;
                color: #fff;
                height: 2.5vw;
                line-height: 1;
            }
        }

        .input-group {
            display: inline-block;
            input {
                vertical-align: middle
            }
            span {
                &.input-icon {
                    padding: 6px 12px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1;
                    color: #fff;
                    text-align: center;
                    background-color: #3a3a3c;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    white-space: nowrap;
                    vertical-align: middle;
                }
            }
        }
        ul {
            padding: 0;
            display: inline-block;
            margin-left: 20px;
            margin-top: 15px;
            li {
                display: inline-block;
                background-color: #3a3a3c;
                margin: 0 5px;
                padding: 6px 10px;
                border-radius: 4px;
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 12px;
                    font-family: gothamBook;
                    font-weight: bold;
                }

                &.dropdown {
                    .dropdown-menu  {
                        background: rgba(0,0,0,.9);

                        .dropdown-item {
                            &:hover, &:active, &:focus {
                                background: rgba(255,255,255,.5)
                            }
                            a {
                                display: block;
                            }
                        }
                        
                        a {
                            color: #fff;
                        }

                        .dropdown-item-sub {
                            a {
                                display: block;
                                font-size: 10px;
                                font-weight: initial;
                            }
                        }
                    }
                }
            }
        }
    }
}

.main-nav {
    width: 100%;
    background-color: #3a3a3c;
    text-align: center;
    border-bottom: 1px solid #fff;

    @media screen and (max-width:767px) {
        display: none
    }

    .menus{ 
        justify-content: space-between;
        .menu {
            flex-basis: calc(100%/8);
            padding: 0;
            cursor: pointer;

            > a {
                height: 100%;
                width: 100%;
                display: inline-flex;
                align-items: center;
                color: #fff;
                text-decoration: none;
                justify-content: center;
                font-size: .9vw;
            }

            &.yellow {
                background: #FFE21B;
                color: #3A3A3C
            }

            .dropdown-toggle {
                height: 100%;
                padding: 1vw 0;
                display: inline-flex;
                align-items: center;
                font-size: .9vw;

                &:after {
                    content: initial;
                }
            }

            .dropdown-menu {
                margin-top: -1px;
                border-radius: 0;
                background: #FFE21B;
                border: 0;
                filter: drop-shadow(1px 0 5px rgba(0,0,0,.1));
                a {
                    display: block;
                    color: #3a3a3c;
                    text-decoration: none;
                    line-height: 2;
                    font-size: .9vw;
                    opacity: .7;
                }
                li:hover {
                    background: none;
                    a {
                        opacity: 1;
                    }
                }
            }
        }
        // .menu {
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     padding: 12px 0;
        //     line-height: 1;
        //     color: #fff;
        // }
    }
}

.career-nav {
    background: #FFE21B;

    @media screen and (max-width:767px) {
        position: relative;

        .trigger-title {
            display: inline-block;
        }
    }

    .menus {
        text-align: center;
        color: #3A3A3C;
        background: #FFE21B;
        @media screen and (max-width: 767px) {
            text-align: left;
        }
        .menu {
            padding: 17px 0 14px 0;
            line-height: 34px;
            font-size: 14px;
            font-family: gothamBold;
            @media screen and (max-width: 767px) {
                padding-left: 9vw;
                padding-bottom: 0;
                padding-top: 0;
            }
            &.active {
                &::before {
                    content: '';
                    position: absolute;
                    width: 70px;
                    height: 9px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: 0 auto;
                    background: #3a3a3c;

                    @media screen and (max-width: 767px) {
                        left: 4vw;
                        right: initial;
                        bottom: initial;
                        height: 100%;
                        width: 2.5vw;
                    }
                }
            }
            a {
                text-decoration: none;
                color: #3A3A3C;
            }
        }
    }
}

.nav-mobile {
    position: relative;
    background: rgba(58,58,60,1);
    z-index: 999;

    .top-nav {
        background: #FFE21B;
        // border-bottom: 1px solid rgba(58,58,60,.5);
        .logo-wrapper {
            text-align: center;
            img {
                display: inline-block;
            }
            span {
                letter-spacing: 1px;
            }
        }
        .input-group-mobile {
            input {
                height: 10vw;
            }
            button {
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
                border: 1px solid #ced4da;
                background-color: #3a3a3c;
                color: #fff;
                height: 10vw;
                line-height: 1;
            }
        }
    }

    #careermobile{
        .menu {
            padding-left: 9vw;
        }
    }

    .btn-cont {
        position: relative;
        text-align: right;
        padding: 2vw 0;
        z-index: 99;
        
        .trigger-title {
            position: absolute;
            top: 0;
            left: 7vw;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            background: #FFE21B;
            color: #3A3A3C;
            padding: 5vw;
            cursor: pointer;
    
            span:nth-of-type(1) {
                font-size: 4vw;
                margin-right: 4vw;
                font-family: gothamBold;
            }
    
            .drop-arrow {
                display: inline-block;
                transform: rotate(90deg);
                font-size: 2.5vw;
                line-height: 1;
            }
        }
        
        .navbar-toggler {
            background: #FFE21B;
            padding: 1vw 1.5vw;
            margin-right: 4vw;
            display: inline-flex;
            .navbar-toggler-icon {
                width: 6vw;
                height: 6vw;
            }
        }
    }

    .menus, .menus2 {
        text-align: left;
        background: #FFE21B;
        .menu {
            line-height: 34px;
            font-size: 14px;
            font-family: gothamBold;
            // padding-left: 9vw;
            padding-bottom: 0;
            padding-top: 0;

            &.active {
                &::before {
                    content: '';
                    position: absolute;
                    left: 4vw;
                    margin: 0 auto;
                    background: #3a3a3c;
                    height: 100%;
                    width: 2.5vw;
                }
            }
            a {
                display: block;
                text-decoration: none;
                color: #3A3A3C;
                &[aria-expanded="true"] {
                    background: #FFE21B;
                    color: #3A3A3C;
                }
            }
        }
    }

    .menus2 {
        background: rgba(58,58,60,1);
        text-align: center;
        &.active {
            &::before {
                content: initial;
            }
        }
        .menu {
            a {
                color: #fff;
                font-weight: normal;
                font-family: gothamBook;
            }
        }
    }

    .sub-menu {
        background: #FFE21B;
        .menu {
            text-align: left;
            a {
                display: block;
                color: #3A3A3C;
            }
        }
    }
}

/*=====  End of Navigation  ======*/

    .stick-bottom {
        position: fixed;
        bottom: 0;
        z-index: 99999;
        width: 100%;
        background-color: #3a3a3c;
        padding-top: 1vw;
        padding-bottom: .8vw;

        @media screen and (max-width: 767px) {
            padding-top: 3vw;
            padding-bottom: 3vw;
        }

        .img-cont {
            text-align: center;
            a > img {
                width: 70%;

                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }
        }

        .copyright_social {
            * {
                color: #fff;
            }
            
            .social-media-container {
                display: flex;
                justify-content: right;
                a {
                    margin-left: 1vw;
                    font-size: 1.5vw;
                }

                @media screen and (max-width: 767px) {
                    justify-content: center;
                    a {
                        font-size: 6vw;
                        margin: 0 3vw;
                    }
                }
                
            }
            p {
                text-align: right;
                margin: 0;
                font-size: .8vw;
                @media screen and (max-width: 767px) {
                    text-align: center;
                    font-size: 3.5vw;
                }
            }
        }
    }

/* BANNER */

.banner {
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 99;

    .description {
        background: #3a3a3c;
        color: #fff;
        display: flex;
        align-items: center;
        .content-wrapper {
            max-width: 300px;
            margin: 0 auto;
            position: relative;

            @media screen and (max-width: 767px) {
                text-align: center;
            }

            h1 {
                font-family: gothamBold;
                font-size: 40px;
                letter-spacing: .75px;
                line-height: 47px;
            }
            .content {
                margin: 28px 0;
                @media screen and (max-width: 767px) {
                    &.plus {
                        margin: 5vw 10vw 15vw;
                    }
                    margin: 5vw 10vw;
                    font-size: 3vw;
                }
            }
            @media screen and (max-width: 767px) {
                .btn-main {
                    position: absolute;
                    display: inline-block;
                    bottom: -5vw;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 60vw;
                }
            }
        }
    }

    .img-banner {
        position: relative;
        img {
            width: 100%;
        }

        @media screen and (max-width: 767px) {
            .img-cont {
                img {
                    width: 150%;
                    margin-left: 50%;
                    transform: translateX(-50%);
                }
            }

            h1 {
                position: absolute;
                bottom: 5vw;
                text-align: center;
                width: 100%;
                color: white;
                font-family: gothamBold;
                font-size: 10vw;
                letter-spacing: .75px;
                line-height: 13vw;
                filter: drop-shadow(0 0 5px #000)
            }
        }
    }
    
}

/*=====  End of BANNER  ======*/

/* BUTTON */

.btn {
    display: inline-block;
    padding: 8px 15px;
    color: #3A3A3C;
    &.btn-main {
        background-color: #FFE21B;
        font-size: 16px;
        font-family: gothamBold;
    }
    &.btn-job {
        background-color: #FFE21B;
        font-size: 14px;
        line-height: 26px;
        border-radius: 7px;
    }
    &.btn-search {
        background-color: #3A3A3C;
        border-radius: 5px;
        color: #fff;
        letter-spacing: 0.44px;
        font-family: gothamBold;
        padding: 4px 15px;
    }
}

/*=====  End of BUTTON  ======*/


/* SECTION CONTENT */

section {
    &.blockquote {
        .quote {
            font-size: 20px;
            text-align: center;
            line-height: 28px;
            margin: 59px auto 84px auto;
            max-width: 610px;
            position: relative;

            @media screen and (max-width: 767px) {
                margin: 15vw 10vw 20vw;
                font-size: 4.5vw;
                line-height: 1.5;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 100px;
                height: 5px;
                background-color: #FFE21B;
                bottom: -37px;

                @media screen and (max-width: 767px) {
                    bottom: -7vw;
                    width: 15vw;
                }
            }
        }
        .cards {
            margin-bottom: 154px;

            @media screen and (max-width: 767px) {
                margin-bottom: 0 !important;
            }

            // &#accordion {
            //     margin-bottom: 0 !important;
            // }

            .first-section-card {
                margin-bottom: 28px;
            }

            .card {
                position: relative;
                @media screen and (max-width: 767px) {
                    margin-bottom: 10vw;

                    .card-header, .card-body {
                        background: rgba(255,226,27,1);
                        padding: 5vw;
                    }

                    .card-header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-family: gothamBold;
                        

                        img {
                            width: initial;
                            margin-left: 0;
                            transition: all .2s ease-in-out;
                        }
                    }

                    
                }
                img {
                    width: 100%;
                    // @media screen and (max-width: 767px) {
                    //     height: 100%;
                    // }
                }
                &:hover {
                    .card-overlay {
                        opacity: 1;
                        cursor: pointer;
                    }
                    .main-title {
                        display: none;
                    }
                }
                &.card-margin {
                    margin: 0 !important;
                }
                .title {
                    position: absolute;
                    left: 0; 
                    right: 0;
                    margin:  0 auto;
                    top: 50%;
                    transform: translateY(-50%);
                    max-width: 241px;
                    color: #FFEA1B;
                    font-family: gothamBold;
                    font-size: 18px;
                    line-height: 26px;
                    letter-spacing: 2.25px;
                    text-align: center;
                    text-shadow: 0 3px 5px 0 rgba(0,0,0,0.6), 0 2px 4px 0 rgba(0,0,0,0.5);
                }
                .arrow {
                    position: absolute;
                    bottom: 24.15px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    z-index: 99;
                }
                  .second-card {
                    position: relative;
                    width: 100%;
                    height: 100%;
                        .title-wrapper {
                            width: 100%;
                            height: 22%;
                            background-color: #FFE21B;
                            position: absolute;
                            bottom: 0;
                            z-index: 99;
                            transition: .3s all ease;
                            .title {
                                max-width: 300px;
                                text-align: left;
                                color: #3a3a3c;
                                margin: 0 0;
                                margin-left: 16px;
                                position: static;
                                transform: translateY(0);
                                padding: 11.23px 0 0 0 ;
                                &.single {
                                    transform: translateY(35%);
                                }
                            }
                            .content {
                                margin: 20px 0 0 16px;
                                padding-right: 38px;
                                max-height: 70%;
                                overflow-y: scroll; 
                                display: none;
                            }

                            &.show {
                                height: 100%;
                                .content {
                                    display: block;
                                }
                            }
                        }
                        margin: 0 0;
                    .arrow {
                        top: 25px;
                        right: 41.72px;
                        left: unset;
                        margin: 0;
                    }
                    .card-overlay {
                        z-index: 999;
                    }
                }
                
                

                .card-overlay {
                    transition: .3s all ease;
                    background-color: rgba(0,0,0,0.7);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    padding: 31px 24px 31px 26px;
                    opacity: 0;
                    .title {
                        position: static;
                        text-align: left;
                        transform: translateY(0);
                        margin: 0;
                    }
                    .content {
                        line-height: 23px;
                        color: #fff;
                        margin-top: 18px;
                        max-height: 80%;
                        overflow-y: scroll;
                    }
                }
                
                &:not(:last-child) {
                    margin-right: 38px;
                }
            }
        }
    }

    &.about {
        background-color: #F4F4F4;
        padding-bottom: 64px;

        @media screen and (max-width: 767px) {
            padding-bottom: 7vw;
        }

        h1 {
            color: #3A3A3C;
            font-family: gothamBold;
            font-size: 18px;
            letter-spacing: 2.25px;
            line-height: 28px;
            padding: 45px 0;
            position: relative;

            @media screen and (max-width: 767px) {
                font-size: 4vw;
                padding: 4vw 5px;
            }

            &::before {
                content: '';
                width: 330px;
                height: 2px;
                border: 1px solid rgba(58,58,60,0.5);
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }
        .sliders {
            .content-slider {
                background-color: #FFE21B;
                position: relative;
                align-items: center;
                padding: 79px 0 54px 0;
                h2 {
                    font-family: gothamBold;
                    font-size: 20px;
                    line-height: 26px;
                    letter-spacing: 2.5px;
                    color: #3A3A3C;
                    max-width: 300px;
                }
                .content {
                    max-width: 300px;
                    .description {
                        font-family: gothamBook;
                        font-size: 14px;
                        color: #3A3A3C;
                        line-height: 23px;
                    }
                }

                .icons {
                    text-align: center;
                    img {
                        margin: 0 auto;
                    }
                }
            }
        }

        .benefit-wrapper {
            position: relative;
            &::before {
                content: '';
                width: 478px;
                height: 130px;
                position: absolute;
                top:-34px;
                left: 0;
                z-index: 1;
                background-color: #FFE21B;

                @media screen and (max-width: 767px) {
                    width: 50%;
                    height: 13vw;
                    top: -3vw;
                }
            }
            .benefit-content {
                position: relative;
                z-index: 2;
                padding: 51px;
                margin: 0 auto;
                max-width: 898px;
                color: #3A3A3C;
                line-height: 25px;
                background: #fff;
                @media screen and (max-width: 767px) {
                    padding: 4vw 6vw;
                    font-size: 3vw;
                    line-height: 1.7;
                }
                .lists {
                    margin-top: 14px;
                    @media screen and (max-width: 767px) {
                        ul {
                            padding-left: 4vw;
                            margin: 0;
                        }
                    }
                }
                .note {
                    text-align: right;
                    line-height: 28px;
                    font-size: 12px;
                    color: rgba(58,58,60,1);
                    font-family: gothamLight;

                    @media screen and (max-width: 767px) {
                        font-size: 2.5vw;
                        margin-top: 3vw;
                    }
                }
            }
        }

        .slick-dots {
            position: absolute;
            bottom: 26.85px;
            right: 0;
            display: inline-block !important;
            width: unset;
            right: 20%;
            li {
                button {
                    &::before {
                        font-size: 16px;
                    }
                }
            }
        }

        .card-cont {
            .card {
                margin-bottom: 4vw;
                .card-header, .card-body {
                    background: rgba(255,226,27,1);
                    padding: 5vw 7vw;
                }
                .card-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .title-cont {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        div:nth-of-type(1) {
                            flex-basis: 20%;
                            text-align: center;
                        }

                        div:nth-of-type(2) {
                            flex-basis: 75%;
                            padding: 0 2vw;
                            font-size: 3.5vw;
                            font-family: gothamBold;
                        }
                    }

                    .arrow {
                        display: inline-block;
                        width: 5vw;
                        height: 4vw;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        transition: all .1s ease-in-out;
                    }
                }
            }
        }
    }

    &.end-banner {
        .banner {
            .content-wrapper {
                max-width: 461px;
                margin-left: 107px;
                @media screen and (max-width:767px) {
                    margin: 0;
                }
                .content {
                    font-size: 12px;
                    line-height: 25px;
                    margin-bottom: 0;
                    @media screen and (max-width:767px) {
                        margin-bottom: 14vw;
                    }
                }

                .btn {
                    transform: translateY(50%);
                    @media screen and (max-width: 767px) {
                        position: absolute;
                        bottom: 0;
                        transform: translateY(50%);
                    }
                }
            }

            .img-banner {
                .img-cont {
                    background: url(../img/home/end-banner.jpg) no-repeat top center;
                    background-size: cover;
                    height: 70vw;
                }
            }
        }
    }

    &.jobs {
        .title {
            margin: 70px 0 58px 0;
            color: #3A3A3C;
            font-family: gothamBold;
            font-size: 18px;
            letter-spacing: 2.25px;
            line-height: 17px;

            @media screen and (max-width: 767px) {
                margin: 18vw 0 6vw 1vw;
                font-weight: normal;
                font-size: 4vw;
            }
        }
        .jobs-wrapper {
            padding: 0 28px;
            @media screen and (max-width: 767px) {
                padding: 0 15px;
            }
            .job-list {
                position: relative;
                background-color: #F4F4F4;
                padding: 25px 20px 20px 31px ;
                margin-bottom: 9px;

                @media screen and (max-width: 767px) {
                    padding: 6vw 3vw;
                    margin-bottom: 8vw;
                }

                .job-title {
                    a {
                        color: #3A3A3C;
                        font-family: gothamBold;
                        font-size: 18px;
                        letter-spacing: 1.19px;
                        line-height: 20px;
                        text-decoration: none;
                        text-transform: uppercase;
                        @media screen and (max-width: 767px) {
                            line-height: 1;
                            font-size: 4vw;
                        }
                    }
                }

                h3 {
                    color: #3A3A3C;
                    font-size: 14px;
                    font-family: gothamBook;
                    line-height: 26px;
                    margin: 0;
                    font-weight: normal;
                }

                .location {
                    text-align: center;
                    display: flex;
                    align-items: center;
                }

                @media screen and (max-width: 767px) {
                    h3 {
                        font-size: 3.5vw;
                        padding: 1vw 0;
                    }

                    .location h3 {
                        line-height: 1;
                        padding: 0;
                    }
                }
                
                .detail {
                    @extend .location;
                    @media screen and (max-width: 767px) {
                        .btn-job {
                            position: absolute;
                            bottom: -10vw;
                            right: 5vw;
                            text-transform: uppercase;
                            font-size: 3vw;
                            padding: 1vw 5vw;
                            text-decoration: none;
                            color: initial;
                        }
                    }
                }
            }
        }
    }

    &.testi {
        margin-bottom: 76px;
        .testi-wrapper {
            padding-top: 135.58px;

            @media screen and (max-width: 767px) {
                padding-top: 5vw;
            }

            .content {
                margin-bottom: 53.96px;
                
                @media screen and (max-width: 767px) {
                    padding: 0 6vw;
                }

                .description {
                    font-size: 14px;
                    color: #3A3A3C;
                    line-height: 23px;
                    .description-wrapper {
                        background-color: #F6F4F4;
                        padding: 48px;

                        @media screen and (max-width: 767px) {
                            padding: 8vw 6vw    ;
                            width: 80%;
                            margin-top: -10vw;
                            margin-left: 12vw;
                            font-size: 3.5vw;
                            line-height: 1.5;
                        }
                    }
                }
                .person {
                    img {
                        width: 100%;
                    }
                }
            }
        }

        .person-name{
            margin-top: 25.48px;
            .name {
                font-size: 16px;
                font-family: gothamBook;
                letter-spacing: 2.5px;
                line-height: 23px;
                color: #4E4E4E;
                text-transform: uppercase;
                @media screen and (max-width: 767px) {
                    font-size: 3.5vw;
                }
            }
            .job {
                font-size: 14px;
                color: #4E4E4E;
                font-family: gothamBook;
                @media screen and (max-width: 767px) {
                    font-size: 3vw;
                }
            }
            .search-job {
                margin-top: 10px;
                .icon {
                    box-sizing: border-box;	
                    height: 8px;	
                    width: 8px;	
                    border: 4px solid #FFE21B;	
                    border-left: 0;
                    border-bottom: 0;
                    transform: rotate(45deg);
                    display: inline-block;
                    margin-right: 10px;
                }
                a {
                    color: #3A3A3C;
                    font-size: 14px;
                    font-family: gothamBold;
                    letter-spacing: 0.44px;
                    text-decoration: none;
                    @media screen and (max-width: 767px) {
                        font-size: 3.5vw;
                        font-weight: normal;
                        text-decoration: underline;
                    }
                }
            }
        }
        // .sliders-cont {
        //     margin: 0 -15px;
        // }
        .sliders {
            .testi_img_slider {
                img {
                    width: 100%;
                }
            }
            .testi_desc_slider {
                background-color: #FFEA1B;
                // padding: 84.46px 103px 0 71.94px;
                padding: 39px 59px 0     35px;
                font-family: gothamBook;
                line-height: 23px;
                font-size: 14px;
            }
            .person-name {
                position: absolute;
                border: 0;
                bottom: 27px;
                .name {
                    font-family: gothamBold !important;
                }
            }
        }

        #other-testi {
            .row {
                background: rgba(255,226,27,1);

                .person-name {
                    margin: 0;
                    .name, .job {
                        line-height: 1.8;
                        font-size: 3vw;
                        text-transform: capitalize;
                    }
                    .name {
                        font-family: gothamBold;
                        letter-spacing: initial;
                    }
                }

                .arrow {
                    position: absolute;
                    bottom: 4vw;
                    left: 4vw;
                    width: 7vw;
                    height: 3vw;
                    transition: all .1s ease-in-out;
                }

                .description {
                    font-size: 3vw;
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

    &.jobs-category {
        padding-top: 112px;

        @media screen and (max-width: 767px) {
            padding-top: 9vw;
        }

        .categories {
            .category {
                background-color: #F4F4F4;
                margin: 0 35px;
                height: 220px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                @media screen and (max-width: 767px) {
                    text-align: left;
                    height: initial;
                    justify-content: space-between;
                    align-items: center;
                }

                span {
                    font-family: gothamBold;
                    color: #3A3A3C;
                    font-size: 20px;
                    letter-spacing: 1.33px;
                    line-height: 45px;

                    @media screen and (max-width: 767px) {
                        font-size: 4vw;
                    }
                }

                a {
                    color: #3A3A3C;
                    text-decoration: none;

                    @media screen and (max-width:767px) {
                        &.btn-main {
                            position: relative;
                            top: initial;
                            bottom: initial;
                            font-size: 2vw;
                            transform: initial;
                            background: initial;
                        }
                    }
                }
            }
            .btn {
                position: absolute;
                bottom: 0;
                transform: translateY(50%)
            }
        }

        .search-categories {
            margin-top: 96.62px;
            // padding: 43px 22px 15px 65px;
            background-color: #FFEA1B;

            @media screen and (max-width: 767px) {
                margin-top: 6vw !important;
                padding: 5vw 7vw !important;
            }

            input {
                width: 90%;
                border: 2px solid #D8D8D8;
                border-radius: 5px;
                height: 31px;
                border-left: none;
                padding-left: 10px;
                padding-top: 5px;
                &::placeholder {
                    color: #A4A4A4;
                    font-size: 14px;
                    line-height: 30px;
                }
                &:focus {
                    outline: none;
                } 
                @media screen and (max-width: 767px) {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }

            .search-group {
                @media screen and (max-width: 767px) {
                    display: flex;
                }
                .icon {
                    display: inline-block;
                    padding: 3px 8px;
                    background: #fff;
                    border: 2px solid #D8D8D8;
                    border-right: none;
                    transform: translateX(10px);
                    vertical-align: top;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    @media screen and (max-width: 767px) {
                        transform: initial;
                    }
                }
            }

            select {
                width: 198px;
                height: 100%;
                border: 2px solid #D8D8D8;
                border-radius: 5px;
                color: #A4A4A4;
                font-size: 14px;
                line-height: 30px;
                padding-top: 5px;

                @media screen and (max-width: 767px) {
                    width: 100%;
                    height: 31px;
                }
            }

            .lists-categories {
                margin-top: 26px;

                @media screen and (max-width: 767px) {
                    margin-top: 0;
                }

                span {
                    color: #3A3A3C;
                    font-family: gothamBook;
                    font-size: 14px;
                    line-height: 30px;
                }

                ul {
                    text-align: left;
                    padding: 0;

                    @media screen and (max-width: 767px) {
                        height: 12vw;
                        overflow-y: scroll; 
                        padding: 0 3.5vw;
                    }

                    // margin-left: -38px;
                    li {
                        display: inline-block;  
                        // padding: 10px 16px 5px 13px;
                        margin-right: 6px;
                        margin-bottom: 11px;
                        color: #A4A4A4;
                        line-height: 13px;
                        background-color: #FFFFFF;
                        border-radius: 3px;
                        box-sizing: border-box;

                        @media screen and (max-width: 767px) {
                            display: block;
                            label {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .btn-search {
                display: inline-block;

                @media screen and (max-width: 767px) {
                    width: 24vw;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: -11vw;
                }
            }
        }
    }

    &.detail {
        background-color: #F4F4F4;
        padding-top: 41px;
        position: relative;
        color: #000;

        .container {
            background-color: #fff;
            padding-top: 75px;
            padding-bottom: 91px;

            @media screen and (max-width: 767px) {
                padding: 5vw 3vw;

                .title {
                    margin: 2vw 0 6vw !important;
                }
            }
        }

        @media screen and (max-width: 767px) {
            padding: 13vw 6vw 0;

            &:nth-of-type(2) {
                padding: 13vw 0 0;
                .container {
                    padding: 5vw 6vw !important;
                }
            }
        }

        .heading-wrapper {
            text-align: center;
            font-size: 14px;
            line-height: 26px;
            .title-job, .loc_deadline {
                color: #3A3A3C;
                margin-top: 14.35px;
                @media screen and (max-width: 767px) {
                    font-size: 4vw;
                    margin: 0 3vw;
                    span {
                        display: block;
                        font-size: 4vw;
                        line-height: 1.5;
                    }
                    .divider {
                        display: none;
                    }
                }
            }
        }

        h1 {
            color: #3A3A3C;
            font-family: gothamBold;
            line-height: 65px;
            font-size: 20px;
            letter-spacing: 1.32px;

            @media screen and (max-width: 767px) {
                line-height: 1.5;
                font-size: 5.5vw;
                margin: 10vw 3vw 0 !important;
                font-weight: normal;
                text-transform: uppercase;
            }
        }

        h2 {
            margin: 34px 0;
            line-height: 17px;
            letter-spacing: 2.25px;
            font-size: 18px;
            color: #4E4E4E;
            font-family: gothamBold;
            text-align: left;
        }

        .btn-wrapper {
            margin-top: 57px;

            .btn {
                padding: 10px 38px;
            }

            @media screen and (max-width: 767px) {
                margin-top: 11vw;

                p {
                    margin: 0;
                    line-height: 2.5;
                    font-size: 3.5vw;
                }

                .btn {
                    padding: 1vw 9vw;
                    font-size: 4vw;
                }
            }
            
            &.second {
                position: absolute;
                bottom: 0; 
                left: 0;
                right: 0;
                margin: 0 auto;
                transform: translateY(50%);
                z-index: 999;
            }

            &.trans {
                text-align: right;
                @media screen and (max-width: 767px) {
                    margin-top: 12vw;
                    text-align: center;
                }

                .btn-main {
                    background: transparent;
                    border: 1px solid #3A3A3C;

                    @media screen and (max-width: 767px) {
                        padding: 10px 11vw;
                    }
                }
            }
        }

        .job-detail {

            ul {
                max-width: 591px;
                width: 100%;
                display: inline-block;
                margin-bottom: 0;

                li {
                    line-height: 23px;
                    font-size: 14px;
                    font-family: gothamLight;
                    color: #3A3A3C;
                    text-align: left;
                    list-style-type: circle;
                }
            }

            .list {
                p {
                    color: #3A3A3C;
                    margin-top: 14.35px;
                    max-width: 700px;
                    margin: 10px auto;
                    text-align: left;
                }
            }

            @media screen and (max-width: 767px) {
                padding: 0 4vw;
                margin: 7vw 0;
                ul {
                    padding: 0;
                    margin: 0;

                    h2 {
                        margin: 0;
                        font-size: 4vw;
                        font-weight: normal;
                    }
                }

                .list {
                    ul {
                        padding-left: 4vw;

                        li {
                            font-size: 3.5vw;
                        }
                    }
                }
            }

            ol {
                @extend ul
            }
        }

        &.jobs {
            .container {
                padding-left: 50px;
                padding-right: 50px;
                padding-top: 12px;
            }

            .jobs-wrapper {
                padding: 0;
                .row {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }

    }
}

/*=====  End of SECTION CONTENT  ======*/

.sliders-cont {
    margin: 0 -15px;
    .sliders {
        .slider-wrapper {
            margin: 0 0;
        }
        .slide {
            display: table;
            width: 100%;
            .img-slider {
                img {
                    width: 100%;
                }
            }
        }
        .col {
            width: 50%;
            box-sizing: border-box;
            display: table-cell;
            vertical-align: top;
            height: 100%;
        }
    }
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0 !important;
}

.img-resp {
    max-width: 100%;
    display: block;
}

.video-wrapper {
    position: relative;

    video {
        width: 100%;
        height: 695px;
        background-color: #95a5a6;

        @media screen and (max-width: 767px) {
            height: 100vw;
        }
    }
    .placeholder {
        position: absolute;
        font-family: gothamBold;
        font-size: 40px;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        transform: translateY(-50%);

        @media screen and (max-width: 767px) {
            font-size: 6vw;
        }
    }
}

.arrow {
    background-image: url('../img/home/arrow.png');
    width: 26px;
    height: 17px;
    &.down {
        transform: rotate(180deg);
    }
    &:hover {
        cursor: pointer;
    }
}

.hide-scroll {
    overflow: hidden !important;
}


/* SLICK */

.slick-prev:before, .slick-next:before {
    color: #000 !important;
    font-size: 30px !important;
}

.slick-prev, .slick-next {
    z-index: 99;
}

.slick-next {
    right: 2vw !important;
}

.slick-prev {
    left: 1vw !important;
}
/*=====  End of SLICK  ======*/


/** initial setup **/
.nano {
    position : relative;
    width    : 100%;
    height   : 100%;
    overflow : hidden;
  }
  .nano > .nano-content {
    position      : absolute;
    overflow      : scroll;
    overflow-x    : hidden;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;
  }
  .nano > .nano-content:focus {
    outline: thin dotted;
  }
  .nano > .nano-content::-webkit-scrollbar {
    display: none;
  }
  .has-scrollbar > .nano-content::-webkit-scrollbar {
    display: block;
  }
  .nano > .nano-pane {
    background : rgba(0,0,0,.25);
    position   : absolute;
    width      : 10px;
    right      : 0;
    top        : 0;
    bottom     : 0;
    visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
    opacity    : .01;
    -webkit-transition    : .2s;
    -moz-transition       : .2s;
    -o-transition         : .2s;
    transition            : .2s;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
    border-radius         : 5px;
  }
  .nano > .nano-pane > .nano-slider {
    background: #444;
    background: rgba(0,0,0,.5);
    position              : relative;
    margin                : 0 1px;
    -moz-border-radius    : 3px;
    -webkit-border-radius : 3px;
    border-radius         : 3px;
  }
  .nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
    visibility : visible\9; /* Target only IE7 and IE8 with this hack */
    opacity    : 0.99;
  }


/* CUSTOM CHECKBOX */

input[type="checkbox"]{
    display: none;
  }
  input[type="checkbox"]+label{
    transition: all 300ms ease;
    cursor: pointer;
    border-radius: 3px;
    background-color: #fff;
    padding: 10px 16px 5px 13px;
    display: inline-block;
    margin-bottom: 0;
    // Suggested by @zizzo to prevent text selection
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // ------------------------
    
    i{
      color: #bdc3c7;
    }
  }
  input[type="checkbox"]:checked+label{
    transition: all 300ms ease;
    background-color: #D8D8D8;
    color: #fff;
    i{
      color: white;
      animation: check 1s;
    }
  }
  
  #myCheckbox2{
    display: inline;
  }

.desktop {
    @media screen and (max-width:767px) {
        display: none
    }
}

.mobile {
    @media screen and (min-width:768px) {
        display: none
    }
}

#internship {
    .search-categories {
        margin: 0;
        padding: 27px 22px 15px 65px;
    }
    .section.jobs-category {
        padding-top: 63px;
    }
}

.load-more {
    text-align: center;
    margin-top: 20px;
    color: #adadae;
    font-family: gothamBold;
    &:hover {
        cursor: pointer;
        color: #000;
    }
}