<template>
    <footer class="stick-bottom">
        <div class="container">
            <div class="row align-items-center">
                <!-- <div class="col-md-6 col-12">
                    
                    <div class="row">
                        <div class="col-md-6 col-6 banner-downloadable">
                        </div>
                        <div class="col-md-6 col-6 banner-downloadable">
                        </div>
                    </div>
                </div> -->
                <div class="col-md-3 col-6 img-cont">
                    <a href="https://adira.co.id/dering-adira">
                        <img src="https://adira.co.id/wp-content/themes/adirafinancenew/images/derings.png" class="img-resp">
                    </a>
                </div>
                <div class="col-md-3 col-6 img-cont">
                    <a href="https://adira.co.id/cabang-adira/">
                        <img src="https://adira.co.id/wp-content/themes/adirafinancenew/images/cabang.png" class="img-resp">
                    </a>
                </div>
                <div class="col-md-6 col-12 copyright_social">
                    <div class="social-media-container">
                        <a href="https://www.facebook.com/adirafinanceid/" target="_blank" class="">
                            <span class="fab fa-facebook-f"></span>
                        </a>
                        <a href="https://twitter.com/AdiraFinanceID" target="_blank" class="">
                            <span class="fab fa-twitter"></span>
                        </a>
                        <a href="https://www.instagram.com/adirafinanceid/?hl=en" target="_blank" class="">
                            <span class="fab fa-instagram"></span>
                        </a>
                        <a href="https://www.youtube.com/channel/UCu0ZMhNTndtyDEB63-LqwSg" target="_blank" class="">
                            <span class="fab fa-youtube"></span>
                        </a>
                        <a href="https://www.linkedin.com/company/97631/" target="_blank" class="">
                            <span class="fab fa-linkedin-in "></span>
                        </a>
                    </div>
                    <p>
                        Copyright © <b>Adira Finance</b> Terdaftar dan diawasi oleh OTORITAS JASA KEUANGAN
                    </p>
                </div>
            </div>
        </div>
    </footer>
</template>
<script>
  export default {
    data() {
      return {

      }
    }
  }

</script>
