<template>
    <header>
        <div class="header-nav">
            <div class="container">
                <div class="row py-2">
                <div class="col">
                    <div class="logo-wrapper">
                        <img src="~/assets/img/logo.png" alt="" class="img-resp">
                        <span class="moto">Sahabat Setia Selamanya</span>
                    </div>
                </div>
                <div class="col-8 header-side-nav">
                    <div class="input-group-mobile">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <!-- <div class="input-group">
                        <input type="text">
                        <span class="input-icon">search</span>
                    </div> -->
                    <ul>
                        <li><a href="https://adira.co.id/?utm_source=main_menu">CUSTOMER</a></li>
                        <li><a href="https://adira.co.id/sahabatlokal/promo/kompetisi-video-sahabat-lokal-adira-finance?utm_source=frontpage&utm_medium=menuadira">CSR SAHABAT LOKAL</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>

        <div class="main-nav">
            <div class="container">
                <div class="row menus">
                    <div class="menu dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">PERUSAHAAN</div> 
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="https://adira.co.id/sambutan-direktur-utama/" class="mega-menu-link">Sambutan Direktur Utama</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/dasar-dasar-pendirian-perusahaan/" class="mega-menu-link avoid-clicks">Dasar-dasar Pendirian Perusahaan</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/sekilas-adira-finance/" class="mega-menu-link">Sekilas Perusahaan</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/visi-misi-filosofi-dan-nilai/" class="mega-menu-link">Visi, Misi, Fisolofi dan Nilai</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/struktur-grup-adira-finance/" class="mega-menu-link">Struktur Grup</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/struktur-kepemilikan/" class="mega-menu-link">Struktur Kepemilikan</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/struktur-organisasi-adira-finance/" class="mega-menu-link avoid-clicks">Struktur Organisasi</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/dewan-komisaris/" class="mega-menu-link">Dewan Komisaris</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/direksi/" class="mega-menu-link">Dewan Direksi</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/dewan-pengawas-syariah/" class="mega-menu-link">Dewan Pengawas Syariah</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/pejabat-senior/" class="mega-menu-link">Pejabat Senior</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/sekretaris-perusahaan/" class="mega-menu-link">Sekretaris Perusahaan</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/unit-audit-internal/" class="mega-menu-link">Unit Audit Internal</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/category/awards/" class="mega-menu-link">Penghargaan</a><span style="display:none;">test</span></li>
                        </ul>
                    </div>
                    <div class="menu dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">PRODUK & LAYANAN</div> 
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="https://adira.co.id/produk/kredit-mobil?utm_source=mainmenu&amp;utm_medium=link" class="">Pembiayaan Mobil</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/produk/kredit-motor?utm_source=mainmenu&amp;utm_medium=link" class="">Pembiayaan Motor</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/produk/kredit-multiguna?utm_source=mainmenu&amp;utm_medium=link" class="">Pembiayaan Multiguna</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/produk/kredit-elektronik-furniture?utm_source=mainmenu&amp;utm_medium=link" class="">Elektronik &amp; Furnitur</a></li>
                        </ul>
                    </div>
                    <div class="menu dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">TATA KELOLA</div> 
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="https://adira.co.id/dokumen-tata-kelola-adira/" class="">Dokumen Tata Kelola</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/konsep-arsitektur-tata-kelola-adira/" class="">Konsep Arsitektur Tata Kelola</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/pedoman-kerja-dewan-komisaris-dan-direksi/" class="">Pedoman Kerja Dewan Komisaris dan Direksi</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/keanggotaan-dan-tata-tertib-dibawah-dewan-komisaris/" class="">Keanggotaan, Pedoman, dan Tata Tertib Komite di Bawah Dewan Komisaris</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/kebijakan-manajemen-resiko/" class="">Kebijakan Manajemen Risiko</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/kebijakan-dan-penerapan-tata-kelola-perusahaan/" class="">Kebijakan dan Penerapan Tata Kelola Perusahaan</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/mekanisme-sistem-pelaporan-anggaran/" class="avoid-clicks">Mekanisme Sistem Pelaporan Anggaran</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/kebijakan-anti-korupsi/" class="avoid-clicks">Kebijakan Anti Korupsi</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/informasi-terkini-tata-kelola/" class="">Informasi Terkini Tata Kelola</a></li>
                        </ul>
                    </div>
                    <div class="menu dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">INFORMASI INVESTOR</div> 
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="https://adira.co.id/rups/" class="">RUPS</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/dividen/" class="">Dividen</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/hasil-pemeringkatan/" class="">Hasil Pemeringkatan</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/riset-analis/" class="">Riset Analis</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/lembaga-dan-profesi-penunjang/" class="">Lembaga dan Profesi Penunjang</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/laporan-tahunan/" class="">Laporan Tahunan</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/laporan-keuangan/" class="">Laporan Keuangan</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/ikhtisar-data-keuangan-penting/" class="">Ikhtisar Data Keuangan</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/investor-newsletter/" class="">Investor Newsletter</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/keterbukaan-informasi-adira-finance/" class="">Keterbukaan Informasi</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/surat-hutang-adira/" class="">Surat Hutang dan Sukuk</a></li>
                        </ul>
                    </div>
                    <div class="menu dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">KARIR</div> 
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><nuxt-link to="/">Ikhtisar</nuxt-link></li>
                            <li class="dropdown-item"><nuxt-link to="/testimonial">Bekerja di Adira</nuxt-link></li>
                            <li class="dropdown-item"><nuxt-link to="/jobs">Lowongan Kerja</nuxt-link></li>
                            <li class="dropdown-item"><nuxt-link to="/internship">Internship</nuxt-link></li>
                        </ul>
                    </div>
                    <div class="menu"><a href="https://adira.co.id/category/korporat/?utm_source=mainmenu&utm_medium=links">BERITA</a></div>
                    <div class="menu dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">PUBLIKASI & LAPORAN</div> 
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="https://adira.co.id/press-release/press-release-corporate/" class="">Siaran Pers</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/bukti-laporan/" class="">Bukti Laporan</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/press-release/presentasi/" class="">Presentasi</a></li>
                        </ul>
                    </div>
                    <div class="menu dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">KINERJA BERKELANJUTAN</div> 
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item"><a href="https://adira.co.id/kinerja-berkelanjutan-karyawan/" class="mega-menu-link avoid-clicks">Kinerja Berkelanjutan Karyawan</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/kinerja-berkelanjutan-dealer/" class="mega-menu-link">Kinerja Berkelanjutan Mitra Bisnis</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/kinerja-berkelanjutan-pelanggan/" class="mega-menu-link avoid-clicks">Kinerja Berkelanjutan Konsumen</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/kinerja-berkelanjutan-masyarakat/" class="mega-menu-link avoid-clicks">Kinerja Berkelanjutan Masyarakat</a></li>
                            <li class="dropdown-item"><a href="https://adira.co.id/laporan-berkelanjutan/" class="mega-menu-link avoid-clicks">Laporan Berkelanjutan</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="career-nav d-none">
            <div class="container">
                <div class="row menus desktop">
                    <div class="col-md-3 menu" :class="[isActive === 'index' ? 'active':'']"><nuxt-link to="/">IKHTISAR</nuxt-link></div>
                    <div class="col-md-3 menu" :class="[isActive === 'testimonial' ? 'active':'']"><nuxt-link to="/testimonial">BEKERJA DI ADIRA</nuxt-link></div>
                    <div class="col-md-3 menu" :class="[isActive === 'jobs' ? 'active':'']"><nuxt-link to="/jobs">LOWONGAN KERJA</nuxt-link></div>
                    <div class="col-md-3 menu" :class="[isActive === 'internship' ? 'active':'']"><nuxt-link to="/internship">INTERNSHIP</nuxt-link></div>
                </div>
            </div>
        </div>

        <div class="nav-mobile mobile">
            <div class="top-nav">
                <div class="logo-wrapper">
                    <img src="~/assets/img/logo.png" alt="" class="img-resp">
                    <span class="moto">Sahabat Setia Selamanya</span>
                </div>
                <!-- <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-icon">search</span>
                </div> -->
                
                <div class="input-group-mobile pt-4 pb-3 px-4">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>

            </div>
            <div class="btn-cont">
                <div class="trigger-title" data-toggle="collapse" href="#careermobile">
                    <span>KARIR ADIRA</span>
                    <span class="drop-arrow">&#9654;</span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="row menus collapse" id="careermobile">
                <div class="col-12 menu" :class="[isActive === 'index' ? 'active':'']"><nuxt-link to="/">IKHTISAR</nuxt-link></div>
                <div class="col-12 menu" :class="[isActive === 'testimonial' ? 'active':'']"><nuxt-link to="/testimonial">BEKERJA DI ADIRA</nuxt-link></div>
                <div class="col-12 menu" :class="[isActive === 'jobs' ? 'active':'']"><nuxt-link to="/jobs">LOWONGAN KERJA</nuxt-link></div>
                <div class="col-12 menu" :class="[isActive === 'internship' ? 'active':'']"><nuxt-link to="/internship">INTERNSHIP</nuxt-link></div>
            </div>
            <div class="row menus2 collapse py-4" id="menu-collapse">
                <div class="col-12 menu"><a href="https://adira.co.id/en/dering-adira/?utm_source=mainmenu&utm_medium=link">DERING</a></div>
                <div class="col-12 menu"><a href="https://adira.co.id/en/cabang-adira/?utm_source=mainmenu&utm_medium=link">LOKASI</a></div>
                <div class="col-12 menu"><a href="https://aksesadirafinance.com/?utm_source=adira.co.id&utm_medium=link">AKSES</a></div>
                <div class="col-12 menu"><a href="https://adira.co.id/en/faq">TANYA JAWAB</a></div>
                <div class="col-12 menu"><a href="#" data-toggle="collapse" data-target="#subcollapse1" >PRODUK</a></div>
                <div class="col-12 sub-menu collapse" id="subcollapse1" data-parent="#menu-collapse">
                    <div class="col-12 menu"><a href="https://adira.co.id/en/produk/kredit-mobil?utm_source=menu_home&utm_medium=link">MOBIL</a></div>
                    <div class="col-12 menu"><a href="https://adira.co.id/en/produk/kredit-motor?utm_source=menu_home&utm_medium=link">MOTOR</a></div>
                    <div class="col-12 menu"><a href="https://adira.co.id/en/produk/kredit-multiguna?utm_source=menu_home&utm_medium=link">MULTIGUNA</a></div>
                    <div class="col-12 menu"><a href="https://adira.co.id/en/produk/kredit-elektronik-furniture?utm_source=menu_home&utm_medium=link">ELEKTRONIK & FURNITURE</a></div>
                </div>
                <div class="col-12 menu" ><a href="#" data-toggle="collapse" data-target="#subcollapse2">PROMO</a></div>
                <div class="col-12 sub-menu collapse" id="subcollapse2" data-parent="#menu-collapse">
                    <div class="col-12 menu"><a href="https://adira.co.id/en/kategori_promo/mobil?utm_source=menu_home&utm_medium=link">PROMO MOBIL</a></div>
                    <div class="col-12 menu"><a href="https://adira.co.id/en/kategori_promo/motor?utm_source=menu_home&utm_medium=link">PROMO MOTOR</a></div>
                    <div class="col-12 menu"><a href="https://adira.co.id/en/kategori_promo/multiguna?utm_source=menu_home&utm_medium=link">PROMO MULTIGUNA</a></div>
                    <div class="col-12 menu"><a href="https://adira.co.id/en/kategori_promo/elektronik?utm_source=menu_home&utm_medium=link">PROMO ELEKTRONIK & FURNITURE</a></div>
                </div>
                <div class="col-12 menu"><nuxt-link to="/">KARIR</nuxt-link></div>
                <div class="col-12 menu"><a href="https://aksesadirafinance.com/simulasi-kredit">SIMULASI KREDIT</a></div>
                <div class="col-12 menu"><a href="https://adira.co.id/en/corporate/?utm_source=main_menu">KORPORAT</a></div>
                <div class="col-12 menu"><a href="https://adira.co.id/en/sahabatlokal/promo/kompetisi-video-sahabat-lokal-adira-finance?utm_source=frontpage&utm_medium=menuadira">SAHABAT LOKAL</a></div>
            </div>
            
        </div>

        <div class="row banner desktop" :class="noneClass">
            <div class="col description">
                <div class="content-wrapper">
                    <h1>{{title}}</h1>
                    <div class="content">
                        Di Adira, kebersamaan adalah kekuatan. 
                        Kunci kesuksesan kami bukanlah sekedar berlandaskan pada tenaga perorangan, tetapi juga pada semangat kebersamaan.
                    </div>
                    <nuxt-link to="/jobs/" v-show="$route.name === 'index'"><div class="btn btn-main">LIHAT PEKERJAAN</div></nuxt-link>
                </div>
            </div>
            <div class="col-7 img-banner no-padding">
                <img class="img-resp" :src="bannerImg" alt="">
            </div>
        </div>

        <div class="row banner mobile" :class="noneClass">
            <div class="col no-padding">
                <div class="img-banner">
                    <div class="img-cont">
                        <img :src="bannerImg" alt="">
                    </div>
                    <h1>{{title}}</h1>
                </div>
                <div class="description">
                    <div class="content-wrapper">
                        <div :class="moreClass">
                            {{description}}
                        </div>
                        <nuxt-link to="/jobs/" v-show="$route.name === 'index'"><div class="btn btn-main">LIHAT PEKERJAAN</div></nuxt-link>
                    </div>
                </div>
            </div>
        </div>

    </header>
</template>
<script>
export default {
    data () {
        return {
            isActive: '',
            content: {
                index: {
                    title: 'SEMANGAT BERSAMA',
                    img: '',
                    desc: 'Di Adira, kebersamaan adalah kekuatan Kunci kesuksesan kami bukanlah sekedar berlandaskan pada tenaga perorangan, tetapijuga pada semangat kebersamaan',
                },
                testimonial: {
                    title: 'EMPLOYEE SPOTLIGHT',
                    img: '',
                    desc: 'Kenali perusahaan kami lebih dekat dengan membaca kisah dan testimoni dari orang-orang terbaik yang ada di Adira Finance.',
                },
                jobs: {
                    title: 'BERGABUNG BERSAMA KAMI',
                    img: '',
                    desc: 'Di Adira, kebersamaan adalah kekuatan. Kunci kesuksesan kami bukanlah sekedar berlandaskan pada tenaga perorangan, tetapi juga pada semangat kebersamaan.',
                },
                internship: {
                    title: 'INTERNSHIP DI ADIRA FINANCE',
                    img: '',
                    desc: 'Di Adira, kebersamaan adalah kekuatan. Kunci kesuksesan kami bukanlah sekedar berlandaskan pada tenaga perorangan, tetapi juga pada semangat kebersamaan.',
                }
            },
            title: '',
            description: '',
            bannerImg: '',
            moreClass: 'content',
            noneClass: '',
        }
    },
    methods: {
        getImagePath: function () {
            var self = this;
            const url = this.$route.name

            let img;
            if (url === 'index') {
                img = 'banner_home.jpg'
                this.moreClass = "content plus"
            } else if (url === 'internship') {
                img = 'banner_intern.png'
            } else if (url === 'detail') {
                this.noneClass = "d-none"
                return ''
            } else if (url === 'office') {
                this.noneClass = "d-none"
                return ''
            } else {
                img = 'banner_jobs.jpg'
            }

            return require('~/assets/img/' + img)
        }
    },
    mounted () {
        const url = this.$route
        this.isActive = url.name
        this.title = (this.content[url.name]) ? this.content[url.name].title : ''
        this.description = (this.content[url.name]) ? this.content[url.name].desc : ''
        const imgUrl = this.getImagePath()
        this.bannerImg = imgUrl

        $('a:not(a[href="#"])').click(function(e){
            window.location.href = $(this).attr('href');
        })

        // $('.sub-trigger').click(function(e){
        //     e.stopPropagation();
        //     e.preventDefault();
        //     $(this).next().collapse('toggle')
        // })

        $('.dropdown').mouseenter(function(e){
            e.preventDefault();
            $('.dropdown-menu').removeClass('show')
            $(this).addClass('yellow')
            $(this).find('.dropdown-menu').addClass('show')
        })

        $('.dropdown').mouseleave(function(e){
            e.preventDefault();
            $('.dropdown').removeClass('yellow')
            $('.dropdown-menu').removeClass('show')
            // $(this).find('.dropdown-menu').removeClass('show')
        })
    },
    watch: {
       $route: function () {
            console.log('was')
        }
    }
}
</script>
