<template>
    <div id="detail">
        <appHeader/>
        <section class="detail">
            <div class="container">
                <div class="heading-wrapper">
                    <div class="title-job">{{job.function}}</div>
                    <h1>{{job.name}}</h1>
                    <div class="loc_deadline">
                        <span> {{location.city}}, {{location.country}} </span>
                        <span class="divider"> | </span>   
                        <span> Deadline: {{humanDate(job.application_end_date)}} </span>
                    </div>
                    <div class="btn-wrapper">
                        <a :href="lamarUrl" target="_blank">
                            <div class="btn btn-main">LAMAR SEKARANG</div>
                        </a>
                        <p>Powered by Kalibrr</p>
                    </div>

                    <div class="job-detail">
                        <ul>
                            <h2>JOB QUALIFICATIONS</h2>
                        </ul>
                        <div class="list" v-html="job.qualifications">

                        </div>
                    </div>
                    <div class="job-detail">
                        <ul>
                            <h2>JOB DESCRIPTION</h2>
                        </ul>
                        <div class="list" v-html="job.description">

                        </div>
                    </div>
                    
                    <div class="btn-wrapper second">
                        <a :href="lamarUrl" target="_blank">
                            <div class="btn btn-main">LAMAR SEKARANG</div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="jobs detail">
            <div class="container">
                <h1 class="title">LIHAT PEKERJAAN LAIN?</h1>
                <div class="jobs-wrapper">
                    <div class="row job-list" v-for="(job, index) in jobs" :key="index">
                        <div class="col-md-6 col-12 job-title">
                            <nuxt-link :to="{path: '/detail/', query: {id: job.id} }">{{job.name}}</nuxt-link>
                            <h3>{{job.function}}</h3>
                        </div>
                        <div class="col-md-5 col-12 location">
                            <h3>{{job.google_location.address_components.city}}, {{job.google_location.address_components.country}} </h3>
                        </div>
                        <div class="col-md-1 col-12 detail">
                            <nuxt-link :to="{path: '/detail/', query: {id: job.id} }" class="btn btn-job">Detail</nuxt-link>
                        <!-- <div class="btn btn-job">Detail</div> -->
                        </div>
                    </div>
                </div>
                <div class="btn-wrapper trans">
                    <nuxt-link to="/jobs/"><div class="btn btn-main">LAMAR SEKARANG ({{totalJob}})</div></nuxt-link>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import appHeader from '~/components/header.vue'

export default {
    components: {
        appHeader
    },
    data () {
        return {
            job: [],
            location: [],
            jobs: [],
            totalJob: 0,
            lamarUrl: 'https://www.kalibrr.id/c/adira-finance/jobs/' + this.$route.query.id
        }
    },
    created () {
        const r = this.$route.query.id
        if (r) {
          this.$axios.get(process.env.localApi + 'jobs/?id=' + r)
            .then(res => {
                this.job = res.data
                this.location = res.data.google_location.address_components
            })
        }

        this.$axios.get(process.env.localApi + '?offset=0&limit=4', {
            headers: {
                'Content-Type': 'application/json',
            }
        })
            .then(result => {
                this.jobs = result.data.jobs
                this.totalJob = result.data.total_count
            })

    },
    methods: {
        humanDate: function (dt) {
            const d = new Date(dt);
            const ds = d.toDateString()

            return ds
        }
    },
    watch: {
        '$route'() {
            const r = this.$route.query.id
            if (r) {
            this.$axios.get(process.env.localApi + 'jobs/?id=' + r)
                .then(res => {
                    this.job = res.data
                    this.location = res.data.google_location.address_components
                })
            }
        }
    }
}
</script>
