<template>
  <div id="home">
    <appHeader/>

    <div class="video-wrapper">
      <video src=""></video>
      <div class="placeholder">
        VIDEO<br>
        PLACEHOLDER
      </div>
    </div>

    <section class="blockquote">
      <div class="quote">
        Adira Finance bertumpu pada <b>tiga pilar utama</b> yang ditujukan untuk menonjolkan tiap kekuatan Adira Finance sebagai organisasi terkemuka di Indonesia
      </div>
      <div class="container">
        
        <!-- DESKTOP -->
        <div class="row cards desktop">
          <div class="col card no-padding">
            <img class="img-resp" src="~/assets/img/home/company_cares.png" alt="">
            <div class="title main-title">
              COMPANY THAT CARES
            </div>
            <!-- <div class="arrow down"></div> -->
            <div class="card-overlay">
              <div class="title">
                COMPANY THAT CARES
              </div>
              <div class="content hide-scroll">
                Adira Finance memiliki budaya kekeluargaan yang sangat kuat dan sangat dihargai oleh karyawannya. Budaya kekeluargaan Adira Finance adalah salah satu daya tarik Adira Finance tertinggi yang membedakannya dari kompetitornya. Dengan budaya kekeluargaannya, Adira Finance peduli akan karyawannya dan hal tersebutlah yang menjadi faktor peningkat engagement dari karyawannya.
              </div>
            </div>
          </div>
          <div class="col card no-padding">
            <img src="~/assets/img/home/growth.png" alt="" class="img-resp">
            <div class="title main-title">CONTINUOUS GROWTH</div>
            <!-- <div class="arrow down"></div> -->
            <div class="card-overlay">
              <div class="title">
                CONTINUOUS GROWTH
              </div>
              <div class="content light-scroll">
                Pilar kedua berfokus pada daya tarik Adira Finance sebagai tempat ternama yang
                memberikan kesempatan bagi karyawannya untuk terus berkembang dan bertumbuh
                bersama dengan organisasi. Sebagai perusahaan multifinance terbesar di Indonesia yang
                terus berkembang, Adira Finance dikenal sebagai tempat belajar mengenai industri
                multifinance baik bagi fresh graduate maupun karyawan yang sudah berpengalaman. Hal ini
                menjadi salah satu daya jual kepada kandidat yang ingin belajar dan menjadi bagian dari
                perkembangan Adira Finance sebagai suatu perusahaan multifinance ternama yang terus
                berkembang dan berinovasi.
              </div>
            </div>
          </div>
          <div class="col card no-padding">
            <img src="~/assets/img/home/creation_value.png" alt="" class="img-resp">
            <div class="title main-title">
              CREATION OF SHARE VALUE
            </div>
            <!-- <div class="arrow down"></div> -->
            <div class="card-overlay">
              <div class="title">
                CREATION OF SHARE VALUE
              </div>
              <div class="content hide-scroll">
                Pilar ketiga berfokus pada nilai yang diberikan oleh Adira Finance tidak hanya pada
                karyawannya namun juga pada nasabahnya. Adira Finance memiliki nasabah dari berbagai
                industri, latar belakang dan tingkat ekonomi. Sebagai karyawan Adira Finance, karyawan
                turut memberikan kontribusi dalam menyejahterakan masyarakat sekitarnya yang juga
                merupakan nasabah Adira Finance.
              </div>
            </div>
          </div>
        </div>

        <!-- MOBILE -->
        <div class="row cards mobile" id="accordion">
          <div class="col-12 card">
            <img class="img-resp" src="~/assets/img/home/company_cares_mobile.png" alt="">
            <div class="card-header" data-toggle="collapse" href="#card1">
                <span>COMPANY THAT CARES</span> 
                <img src="~/assets/img/home/arrow-down.png" >
            </div>
            <div class="card-body collapse" id="card1" data-parent="#accordion">
              <div class="content hide-scroll">
                Adira Finance memiliki budaya kekeluargaan yang sangat kuat dan sangat dihargai oleh karyawannya. Budaya kekeluargaan Adira Finance adalah salah satu daya tarik Adira Finance tertinggi yang membedakannya dari kompetitornya. Dengan budaya kekeluargaannya, Adira Finance peduli akan karyawannya dan hal tersebutlah yang menjadi faktor peningkat engagement dari karyawannya.
              </div>
            </div>
          </div>
          <div class="col-12 card">
            <img class="img-resp" src="~/assets/img/home/growth_mobile.png" alt="">
            <div class="card-header" data-toggle="collapse" href="#card2">
                <span>CONTINUOUS GROWTH</span> 
                <img src="~/assets/img/home/arrow-down.png" >
            </div>
            <div class="card-body collapse" id="card2" data-parent="#accordion">
              <div class="content hide-scroll">
                Pilar kedua berfokus pada daya tarik Adira Finance sebagai tempat ternama yang memberikan kesempatan bagi karyawannya untuk terus berkembang dan bertumbuh bersama dengan organisasi. Sebagai perusahaan multifinance terbesar di Indonesia yang terus berkembang, Adira Finance dikenal sebagai tempat belajar mengenai industri multifinance baik bagi fresh graduate maupun karyawan yang sudah berpengalaman. Hal ini menjadi salah satu daya jual kepada kandidat yang ingin belajar dan menjadi bagian dari perkembangan Adira Finance sebagai suatu perusahaan multifinance ternama yang terus berkembang dan berinovasi.
              </div>
            </div>
          </div>
          <div class="col-12 card">
            <img class="img-resp" src="~/assets/img/home/creation_value_mobile.png" alt="">
            <div class="card-header" data-toggle="collapse" href="#card3">
                <span>CREATION OF SHARE VALUE</span> 
                <img src="~/assets/img/home/arrow-down.png" >
            </div>
            <div class="card-body collapse" id="card3" data-parent="#accordion">
              <div class="content hide-scroll">
                Pilar ketiga berfokus pada nilai yang diberikan oleh Adira Finance tidak hanya pada karyawannya namun juga pada nasabahnya. Adira Finance memiliki nasabah dari berbagai industri, latar belakang dan tingkat ekonomi. Sebagai karyawan Adira Finance, karyawan turut memberikan kontribusi dalam menyejahterakan masyarakat sekitarnya yang juga merupakan nasabah Adira Finance.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about">
      <div class="container">
        <h1 class="desktop">MENGAPA BEKERJA DI ADIRA FINANCE?</h1>
        <h1 class="mobile">MENGAPA BEKERJA DI <br> ADIRA FINANCE?</h1>
        
        <!-- DESKTOP -->
        <div class="sliders-cont desktop">
            <div class=" sliders">
              <!-- SLIDER 01 -->
              <div class="slide-wrapper">
                <div class="slide">
                  <div class="col img-slider no-padding">
                    <img src="~/assets/img/home/sliders/slider_1.png" alt="" class="img-resp">
                  </div>
                  <div class="col content-slider no-padding">
                    <div class="row no-margin">
                      <div class="col-4 icons no-padding">
                        <img src="~/assets/img/home/icons/icon_slider_1.png" alt="">
                      </div>
                      <div class="col-8 no-padding">
                        <h2>
                            PRODUK BERDAMPAK SOSIAL
                          </h2>
                      </div>
                    </div>
                    <div class="row no-margin">
                      <div class="col-8 offset-4 no-padding">
                        <div class="content">
                           <div class="description">
                            Semangat dan usaha yang berkesinambungan mempunyai pengaruh langsung untuk mengubah kehidupan masyarakat Indonesia menjadi lebih baik
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- SLIDER 02 -->
              <div class="slide-wrapper">
                <div class="slide">
                  <div class="col img-slider no-padding">
                    <img src="~/assets/img/home/sliders/slider_2.jpg" alt="" class="img-resp">
                  </div>
                  <div class="col content-slider no-padding">
                    <div class="row no-margin">
                      <div class="col-4 icons no-padding">
                        <img src="~/assets/img/home/icons/icon_slider_2.png" alt="">
                      </div>
                      <div class="col-8 no-padding">
                        <h2>
                            KEBEBASAN BERPENDAPAT
                        </h2>
                      </div>
                    </div>
                    <div class="row no-margin">
                      <div class="col-8 offset-4 no-padding">
                        <div class="content">
                           <div class="description">
                            Sebagai agen pembawa perubahan bagi bangsa, setiap individu di Adira diberikan kebebasan berkreasi dan berpendapat, membentuk karyawan-karyawan Adira sebagai komunitas profesional yang berani.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- SLIDER 03 -->
              <div class="slide-wrapper">
                <div class="slide">
                  <div class="col img-slider no-padding">
                    <img src="~/assets/img/home/sliders/slider_3.jpg" alt="" class="img-resp">
                  </div>
                  <div class="col content-slider no-padding">
                    <div class="row no-margin">
                      <div class="col-4 icons no-padding">
                        <img src="~/assets/img/home/icons/icon_slider_3.png" alt="">
                      </div>
                      <div class="col-8 no-padding">
                        <h2>
                            KERJASAMA DAN KEBERSAMAAN
                        </h2>
                      </div>
                    </div>
                    <div class="row no-margin">
                      <div class="col-8 offset-4 no-padding">
                        <div class="content">
                           <div class="description">
                            Di Adira, toleransi, rasa saling percaya dan berbagi keceriaan seperti sebuah keluarga menggambarkan interaksi karyawan tanpa memandang posisi dan hirarki
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- SLIDER 04 -->
              <div class="slide-wrapper">
                <div class="slide">
                  <div class="col img-slider no-padding">
                    <img src="~/assets/img/home/sliders/slider_4.jpg" alt="" class="img-resp">
                  </div>
                  <div class="col content-slider no-padding">
                    <div class="row no-margin">
                      <div class="col-4 icons no-padding">
                        <img src="~/assets/img/home/icons/icon_slider_4.png" alt="">
                      </div>
                      <div class="col-8 no-padding">
                        <h2>
                            TERUS BERKARYA DAN BERKEMBANG
                        </h2>
                      </div>
                    </div>
                    <div class="row no-margin">
                      <div class="col-8 offset-4 no-padding">
                        <div class="content">
                           <div class="description">
                            Komitmen dan kepedulian kami terhadap peningkatan kualitas sumber daya manusia sebagai kunci kesuksesan perusahaan mendorong terwujudnya berbagai program pelatihan, seperti Adira Finance Corporate University, yang bertujuan untuk memajukan kompetensi, kualitas, dan kreativitas tenaga kerja kami.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- SLIDER 05 -->
              <div class="slide-wrapper">
                <div class="slide">
                  <div class="col img-slider no-padding">
                    <img src="~/assets/img/home/sliders/slider_5.jpg" alt="" class="img-resp">
                  </div>
                  <div class="col content-slider no-padding">
                    <div class="row no-margin">
                      <div class="col-4 icons no-padding">
                        <img src="~/assets/img/home/icons/icon_slider_5.png" alt="">
                      </div>
                      <div class="col-8 no-padding">
                        <h2>
                            KEBAHAGIAN DALAM BEKERJA
                        </h2>
                      </div>
                    </div>
                    <div class="row no-margin">
                      <div class="col-8 offset-4 no-padding">
                        <div class="content">
                           <div class="description">
                            Kegembiraan tidak hanya dirasakan dari kesuksesan kerja saja. Di Adira, setiap individu diberi ruang untuk menyalurkan minat, bakat, dan potensi yang dapat membawa dampak positif dan meningkatkan kinerja.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END OF SLIDE -->
            </div>
        </div>

        <!-- MOBILE -->
        <div class="row card-cont mobile">
          <div class="col-12 card">
            <div class="card-header" data-toggle="collapse" href="#workval1">
              <div class="title-cont">
                <div><img src="~/assets/img/icon/1.svg" alt=""></div>
                <div>PRODUK BERDAMPAK SOSIAL</div>
              </div>
              <span class="arrow down"></span>
            </div>
            <div class="card-body collapse" id="workval1" data-parent=".card-cont">
              Semangat dan usaha yang berkesinambungan mempunyai pengaruh langsung untuk mengubah kehidupan masyarakat Indonesia menjadi lebih baik
            </div>
          </div>
          <div class="col-12 card">
            <div class="card-header" data-toggle="collapse" href="#workval2">
              <div class="title-cont">
                <div><img src="~/assets/img/icon/2.svg" alt=""></div>
                <div>KEBEBASAN BERPENDAPAT</div>
              </div>
              <span class="arrow down"></span>
            </div>
            <div class="card-body collapse" id="workval2" data-parent=".card-cont">
              Sebagai agen pembawa perubahan bagi bangsa, setiap individu di Adira diberikan kebebasan berkreasi dan berpendapat, membentuk karyawan-karyawan Adira sebagai komunitas profesional yang berani.
            </div>
          </div>
          <div class="col-12 card">
            <div class="card-header" data-toggle="collapse" href="#workval3">
              <div class="title-cont">
                <div><img src="~/assets/img/icon/3.svg" alt=""></div>
                <div>KERJASAMA DAN KEBERSAMAAN</div>
              </div>
              <span class="arrow down"></span>
            </div>
            <div class="card-body collapse" id="workval3" data-parent=".card-cont">
              Di Adira, toleransi, rasa saling percaya dan berbagi keceriaan seperti sebuah keluarga menggambarkan interaksi karyawan tanpa memandang posisi dan hirarki
            </div>
          </div>
          <div class="col-12 card">
            <div class="card-header" data-toggle="collapse" href="#workval4">
              <div class="title-cont">
                <div><img src="~/assets/img/icon/4.svg" alt=""></div>
                <div>TERUS BERKARYA DAN BERKEMBANG</div>
              </div>
              <span class="arrow down"></span>
            </div>
            <div class="card-body collapse" id="workval4" data-parent=".card-cont">
              Komitmen dan kepedulian kami terhadap peningkatan kualitas sumber daya manusia sebagai kunci kesuksesan perusahaan mendorong terwujudnya berbagai program pelatihan, seperti Adira Finance Corporate University, yang bertujuan untuk memajukan kompetensi, kualitas, dan kreativitas tenaga kerja kami.
            </div>
          </div>
          <div class="col-12 card">
            <div class="card-header" data-toggle="collapse" href="#workval5">
              <div class="title-cont">
                <div>
                  <img src="~/assets/img/icon/5.svg" alt="">
                </div>
                <div>KEBAHAGIAN DALAM BEKERJA</div>
              </div>
              <span class="arrow down"></span>
            </div>
            <div class="card-body collapse" id="workval5" data-parent=".card-cont">
              Kegembiraan tidak hanya dirasakan dari kesuksesan kerja saja. Di Adira, setiap individu diberi ruang untuk menyalurkan minat, bakat, dan potensi yang dapat membawa dampak positif dan meningkatkan kinerja.
            </div>
          </div>
        </div>
        <h1>APA SAJA BENEFIT BEKERJA DI ADIRA FINANCE?* </h1>
      </div>
      <div class="benefit-wrapper">
          <div class="container">
            <div class="benefit-content">
              ADIRA FINANCE sangat menghargai kinerja terbaik dari setiap karyawan tanpa membedakan latar belakang seseorang. Beberapa reward dan benefit yang Adira Finance berikan kepada karyawan adalah 
              <div class="row lists">
                <div class="col-md-6 col-12">
                  <ul>
                    <li>Gaji pokok dan THR</li>
                    <li>Tunjangan operasional (transport)</li>
                    <li>Tunjangan makan</li>
                    <li>Tunjangan kesehatan</li>
                    <li>Tunjangan pensiun</li>
                    <li>Insentif (bonus)</li>
                    <li>Training dan berbagai program pengembangan</li>
                  </ul>
                </div>
                <div class="col-md-6 col-12">
                  <ul>
                    <li>Fasilitas olahraga (tergantung lokasi) </li>
                    <li>Kegiatan kebersamaan karyawan (employee gathering/family day/employee birthday)</li>
                    <li>Kegiatan keagamaan</li>
                    <li>Kemudahan dalam kepemilikan kendaraan (tergantung posisi)</li>
                    <li>Tunjangan lain sesuai lokasi dan posisi.</li>
                  </ul>
                </div>
              </div>
              <div class="note">
                *Berdasarkan pada Employee Development 2017
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="blockquote">
      <div class="quote">
        Adira Finance juga memiliki <b>program utama</b> lainnya yang diciptakan bagi para karyawan dan demi tercapainya Visi dan Misi organisasi. 
      </div>
      <div class="container">
        <div class="cards">
          <div class="row first-section-card desktop">
            <div class="col card card-margin">
              <div class="second-card">
                <img class="img-resp" src="~/assets/img/home/second_card_1.png" alt="">
                <div class="title-wrapper">
                  <div class="title">
                    ADIRA FINANCE CORPORATE UNIVERSITY
                  </div>
                  <div class="content dark-scroll">
                    <p>Adira Finance Corporate University merupakan sarana yang dibangun untuk memfasilitasi berbagai program dari Adira Finance Corporate University untuk mengembangkan, meningkatkan, dan menggali potensi sumber daya manusia bagi pihak internal karyawan Adira Finance, maupun pihak eksternal seperti mitra bisnis, komunitas-komunitas, dan masyarakat luas melalui sistem pendidikan yang terstruktur dan berkesinambungan.</p>
                    <p> Employee Development merupakan bentuk dari rangkaian program yang diciptakan oleh Adira Finance Corporate University guna meningkatkan kualitas, kapasitas dan kompetensi sumber daya manusia. Rangkaian program yang tergabung dalam sebuah program yang berorientasi pada peningkatan kualitas, kapasitas dan kompetensi karyawan seperti Team Building, Spiritual, TTT, ALDP, ABLDP, ASDP, ASMDP, AMDP, dan AGMDP. Program lain seperti Adira Finance Goes To Campus, Kelas Adira Finance di SMK, Kelas Dealer, dan Sahabat Pasar merupakan beberapa contoh dari program yang dicanangkan oleh Adira Finance Corporate University untuk mitra bisnis, komunitas, dan masyarakat luas.
                    </p>
                  </div>
                  <div class="arrow" @click="showSecondCard($event)"></div>
                </div>
              </div>
            </div>
            <div class="col card card-margin">
              <div class="second-card">
                <img class="img-resp" src="~/assets/img/home/second_card_2.png" alt="">
                <div class="title-wrapper">
                  <div class="title single">
                    FILOSOFI IKAN
                  </div>
                  <div class="content hide-scroll">
                    Adira Finance menerapkan “FISH PHILOSOPHY” yang terdiri dari empat prinsip yaitu Play, Make Their Day, Be There, dan Choose Your Attitude. Ke empat prinsip tersebut diterapkan dalam sebuah program tahunan demi terciptanya suasana kerja yang menyenangkan dalam lingkungan kerja sehari-hari. “FISH! Philosophy” merupakan sebuah cara untuk mengenalkan visi, misi dan nilai-nilai Adira Finance secara kreatif dan inovatif, serta menciptakan semangat karyawan dalam berinteraksi lebih kuat, hangat dan ramah kepada rekan kerja, customer, mitra bisnis, dealer maupun masyarakat umum.
                  </div>
                  <div class="arrow" @click="showSecondCard($event)"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row second-section-card desktop">
            <div class="col card card-margin">
              <!-- <div class="second-card">
                <img class="img-resp" src="~/assets/img/home/second_card_3.png" alt="">
                <div class="title-wrapper">
                  <div class="title">
                    ADVAGANZA
                  </div>
                  <div class="content dark-scroll">
                    Advaganza dibentuk sebagai wadah dalam menyalurkan dan mengembangkan bakat dan hobi karyawan, dalam bidang olahraga, seni, dan kreatifitas. Untuk bidang olahraga: futsal, bulu tangkis, basket, billiard, bowling, tenis lapangan, dan renang. Untuk bidang seni dan kreatifitas: paduan suara, band, dance, fotografi, dan yoga. Dengan adanya Advaganza diharapkan setiap bakat dan hobi yang dimiliki oleh karyawan Adira Finance dapat tersalurkan sesuai fungsinya sehingga dapat memberikan dampak positif ke Perusahaan pada umumnya, dan meningkatkan kinerja karyawan pada khususnya. Advaganza Adira Finance juga sudah mengepakkan sayapnya dengan mengikuti kompetisi-kompetisi yang diadakan oleh pihak luar perusahaan.
                  </div>
                  <div class="arrow" @click="showSecondCard($event)"></div>
                </div>
              </div> -->
              <div class="second-card">
                <img class="img-resp" src="~/assets/img/home/second_card_3.png" alt="">
                <div class="title-wrapper">
                  <div class="title single">
                    ADVAGANZA
                  </div>
                  <div class="content dark-scroll">
                    <p>
                      Advaganza dibentuk sebagai wadah dalam menyalurkan dan mengembangkan bakat dan hobi karyawan, dalam bidang olahraga, seni, dan kreatifitas. Untuk bidang olahraga: futsal, bulu tangkis, basket, billiard, bowling, tenis lapangan, dan renang. Untuk bidang seni dan kreatifitas: paduan suara, band, dance, fotografi, dan yoga. Dengan adanya Advaganza diharapkan setiap bakat dan hobi yang dimiliki oleh karyawan Adira Finance dapat tersalurkan sesuai fungsinya sehingga dapat memberikan dampak positif ke Perusahaan pada umumnya, dan meningkatkan kinerja karyawan pada khususnya. Advaganza Adira Finance juga sudah mengepakkan sayapnya dengan mengikuti kompetisi-kompetisi yang diadakan oleh pihak luar perusahaan.
                    </p>
                  </div>
                  <div class="arrow" @click="showSecondCard($event)"></div>
                </div>
              </div>
            </div>
            <div class="col card second-card">
              <div class="second-card card-margin">
                <img class="img-resp" src="~/assets/img/home/second_card_4.png" alt="">
                <div class="title-wrapper">
                  <div class="title single">
                    ADIRA SPIRITUAL
                  </div>
                  <div class="content hide-scroll">
                    Adira Spiritual merupakan wadah yang memberikan kesempatan bagi setiap karyawan untuk melakukan kegiatan keagamaan, sesuai dengan agama dan keyakinan yang diakui oleh Negara. Dibentuknya Adira Spiritual diharapkan dapat meningkatkan etos kerja dan tercapainya keseimbangan hidup pribadi karyawan.
                  </div>
                  <div class="arrow" @click="showSecondCard($event)"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row cards mobile" id="accordion2">
          <div class="col-12 card">
            <img class="img-resp" src="~/assets/img/home/second_card_1.png" alt="">
            <div class="card-header" data-toggle="collapse" href="#secondcard1">
                <span>ADIRA FINANCE CORPORATE UNIVERSITY</span> 
                <img src="~/assets/img/home/arrow-down.png" >
            </div>
            <div class="card-body collapse" id="secondcard1" data-parent="#accordion2">
              <div class="content hide-scroll">
                <p>Adira Finance Corporate University merupakan sarana yang dibangun untuk memfasilitasi berbagai program dari Adira Finance Corporate University untuk mengembangkan, meningkatkan, dan menggali potensi sumber daya manusia bagi pihak internal karyawan Adira Finance, maupun pihak eksternal seperti mitra bisnis, komunitas-komunitas, dan masyarakat luas melalui sistem pendidikan yang terstruktur dan berkesinambungan.</p>
                <p> Employee Development merupakan bentuk dari rangkaian program yang diciptakan oleh Adira Finance Corporate University guna meningkatkan kualitas, kapasitas dan kompetensi sumber daya manusia. Rangkaian program yang tergabung dalam sebuah program yang berorientasi pada peningkatan kualitas, kapasitas dan kompetensi karyawan seperti Team Building, Spiritual, TTT, ALDP, ABLDP, ASDP, ASMDP, AMDP, dan AGMDP. Program lain seperti Adira Finance Goes To Campus, Kelas Adira Finance di SMK, Kelas Dealer, dan Sahabat Pasar merupakan beberapa contoh dari program yang dicanangkan oleh Adira Finance Corporate University untuk mitra bisnis, komunitas, dan masyarakat luas. </p>
              </div>
            </div>
          </div>
          <div class="col-12 card">
            <img class="img-resp" src="~/assets/img/home/second_card_2.png" alt="">
            <div class="card-header" data-toggle="collapse" href="#secondcard2">
                <span>FILOSOFI IKAN</span> 
                <img src="~/assets/img/home/arrow-down.png" >
            </div>
            <div class="card-body collapse" id="secondcard2" data-parent="#accordion2">
              <div class="content hide-scroll">
                Adira Finance menerapkan “FISH PHILOSOPHY” yang terdiri dari empat prinsip yaitu Play, Make Their Day, Be There, dan Choose Your Attitude. Ke empat prinsip tersebut diterapkan dalam sebuah program tahunan demi terciptanya suasana kerja yang menyenangkan dalam lingkungan kerja sehari-hari. “FISH! Philosophy” merupakan sebuah cara untuk mengenalkan visi, misi dan nilai-nilai Adira Finance secara kreatif dan inovatif, serta menciptakan semangat karyawan dalam berinteraksi lebih kuat, hangat dan ramah kepada rekan kerja, customer, mitra bisnis, dealer maupun masyarakat umum.
              </div>
            </div>
          </div>
          <div class="col-12 card">
            <img class="img-resp" src="~/assets/img/home/second_card_3.png" alt="">
            <div class="card-header" data-toggle="collapse" href="#secondcard3">
                <span>ADVAGANZA</span> 
                <img src="~/assets/img/home/arrow-down.png" >
            </div>
            <div class="card-body collapse" id="secondcard3" data-parent="#accordion2">
              <div class="content hide-scroll">
                Advaganza dibentuk sebagai wadah dalam menyalurkan dan mengembangkan bakat dan hobi karyawan, dalam bidang olahraga, seni, dan kreatifitas. Untuk bidang olahraga: futsal, bulu tangkis, basket, billiard, bowling, tenis lapangan, dan renang. Untuk bidang seni dan kreatifitas: paduan suara, band, dance, fotografi, dan yoga. Dengan adanya Advaganza diharapkan setiap bakat dan hobi yang dimiliki oleh karyawan Adira Finance dapat tersalurkan sesuai fungsinya sehingga dapat memberikan dampak positif ke Perusahaan pada umumnya, dan meningkatkan kinerja karyawan pada khususnya. Advaganza Adira Finance juga sudah mengepakkan sayapnya dengan mengikuti kompetisi-kompetisi yang diadakan oleh pihak luar perusahaan.
              </div>
            </div>
          </div>
          <div class="col-12 card">
            <img class="img-resp" src="~/assets/img/home/second_card_4.png" alt="">
            <div class="card-header" data-toggle="collapse" href="#secondcard4">
                <span>ADIRA SPIRITUAL</span> 
                <img src="~/assets/img/home/arrow-down.png" >
            </div>
            <div class="card-body collapse" id="secondcard4" data-parent="#accordion2">
              <div class="content hide-scroll">
                Adira Spiritual merupakan wadah yang memberikan kesempatan bagi setiap karyawan untuk melakukan kegiatan keagamaan, sesuai dengan agama dan keyakinan yang diakui oleh Negara. Dibentuknya Adira Spiritual diharapkan dapat meningkatkan etos kerja dan tercapainya keseimbangan hidup pribadi karyawan.
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <section class="end-banner">
      <div class="row banner desktop">
        <div class="col img-banner no-padding">
            <img class="img-resp" src="~/assets/img/home/end-banner.jpg" alt="">
        </div>
        <div class="col description">
            <div class="content-wrapper">
                <h1>BERGABUNG BERSAMA KAMI</h1>
                <div class="content">
                    Jadilah bagian dari komunitas yang memiliki semangat kebersamaan untuk memberdayakan diri dan menyejahterakan bangsa melalui lingkungan kerja yang kondusif dan kolaboratif. 
                    <br><br>
                    <i>“Kami mendorong seluruh karyawan untuk menggali potensi diri
                    dan terus berkarya demi menciptakan kontribusi bagi sesama”</i>
                    <br> - Hafid Hadeli, Direktur Utama Adira Finance
                </div>
                <nuxt-link to="/jobs/"><div class="btn btn-main">LIHAT PEKERJAAN</div></nuxt-link>
            </div>
        </div>
      </div>
      <div class="row banner mobile">
        <div class="col no-padding">
            <div class="img-banner">
                <div class="img-cont"></div>
                <h1>BERGABUNG BERSAMA KAMI</h1>
            </div>
            <div class="description">
                <div class="content-wrapper">
                    <div class="content">
                      <p>
                        Jadilah bagian dari komunitas yang memiliki semangat kebersamaan untuk memberdayakan diri dan menyejahterakan bangsa melalui lingkungan kerja yang kondusif dan kolaboratif. 
                      </p>
                      <p>
                        <i>“Kami mendorong seluruh karyawan untuk menggali potensi diri
                        dan terus berkarya demi menciptakan kontribusi bagi sesama”</i>
                        <br> - Hafid Hadeli, Direktur Utama Adira Finance
                      </p>
                    </div>
                    <nuxt-link to="/jobs/"><div class="btn btn-main">LIHAT PEKERJAAN</div></nuxt-link>
                </div>
            </div>
            
        </div>
      </div>
    </section>

    <section class="jobs">
      <div class="container">
        <h1 class="title">KAMU TERTANTANG?</h1>
        <div class="jobs-wrapper">
          <div class="row job-list" v-for="(job, index) in jobs" :key="index">
            <div class="col-md-6 col-12 job-title">
                <nuxt-link :to="{path: '/detail/', query: {id: job.id} }">{{job.name}}</nuxt-link>
                <h3>{{job.function}}</h3>
            </div>
            <div class="col-md-5 col-12 location">
              <h3>{{job.google_location.address_components.city}}, {{job.google_location.address_components.country}} </h3>
            </div>
            <div class="col-md-1 col-12 detail">
              <nuxt-link :to="{path: '/detail/', query: {id: job.id} }" class="btn btn-job">Detail</nuxt-link>
              <!-- <div class="btn btn-job">Detail</div> -->
            </div>
          </div>
        </div>
      </div>
    </section>


    <appFooter/>
  </div>
</template>

<script>
import appHeader from '~/components/header.vue'
import appFooter from '~/components/Footer.vue'
import overlay from 'overlayscrollbars'
import axios from 'axios'
var sm = require('~/assets/js/scrollMonitor')

export default {
  components: {
    appHeader,
    appFooter
  },
  data () {
    return {
      secondCard: {
        isShow: false,
      },
      jobs: []
    }
  },
  methods: {
    showSecondCard: function (event) {
      const el = event.target
      const elParent = el.parentElement
      
      if (this.secondCard.isShow === false) {
        this.secondCard.isShow = true
        el.classList.add('down')
        elParent.classList.add('show')
      } else {
        this.secondCard.isShow = false
        el.classList.remove('down')
        elParent.classList.remove('show')
      }
    }
  },
  created () {
    this.$axios.get(process.env.localApi + '?offset=0&limit=4', {
      headers: {
        'Content-Type': 'application/json',
      }
    })
      .then(result => {
        this.jobs = result.data.jobs
      })
  },
  mounted () {
    const sliderView = $('.sliders')
    
    sliderView.slick({
        dots: true,
        slidesToShow: 1,
      })

    const blockquote = $('section.blockquote')
    const blockWatcher = sm.scrollMonitor.create(blockquote)
    blockWatcher.enterViewport(function() {
      console.log('enter the viewport')
    })

    $('.dark-scroll').overlayScrollbars({
      className : "os-theme-dark",
    })

    $('.light-scroll').overlayScrollbars({
      className : "os-theme-light",
      paddingAbsolute: true,
    })

    // TRIGGER ROTATE IMAGE
    $('.blockquote .cards.mobile .card .card-header').click(function(){
      $(this).find('img').toggleClass('rotate');
    })

    $('.about .card-cont.mobile .card-header').click(function(){
      $(this).find('.arrow').toggleClass('up');
      $(this).find('.arrow').toggleClass('down');
    })

    
  }
}
</script>

