<template>
    <div id="internship">
        <appHeader/>
        <section class="jobs-category">
            <div class="container">
                <!-- <div class="search-categories">
                    <div class="row search-wrapper">
                        <div class="col-7">
                            <div class="search-group">
                                <div class="icon">
                                    <img src="~/assets/img/Search_Icon.svg" alt="">
                                </div>
                                <input  type="text" placeholder="Cari Pekerjaan">
                            </div>
                        </div>
                        <div class="col-3">
                            <select name="" id="">
                                <option value="">Semua Departemen</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <div class="btn btn-search">CARI</div>
                        </div>  
                    </div>
                    <div class="row lists-categories">
                        <div class="col-2">
                            <span>Job Function:</span>
                        </div>
                        <div class="col-10 no-padding">
                            <ul>
                                <li>
                                  <input type="checkbox" id="semua"/>
                                  <label for="semua">
                                    Semua
                                  </label>
                                </li>
                                <li>
                                  <input type="checkbox" id="finance"/>
                                  <label for="finance">
                                    Accounting & Finance
                                  </label>
                                </li>
                                <li>
                                  <input type="checkbox" id="admin"/>
                                  <label for="admin">
                                    Administration & Coordination
                                  </label>
                                </li>
                                <li>
                                  <input type="checkbox" id="general"/>
                                  <label for="general">
                                    General Services
                                  </label>
                                </li>
                                <li>
                                    <input type="checkbox" id="hr"/>
                                    <label for="hr">
                                      Human Resource
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="it"/>
                                    <label for="it">
                                      IT & Software
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="management"/>
                                    <label for="management">
                                      Management & Consultancy
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="media"/>
                                    <label for="media">
                                      Media & Creatives
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="sales"/>
                                    <label for="sales">
                                      Sales & Marketing
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="myCheckbox"/>
                                    <label for="myCheckbox">
                                      Click me!
                                    </label>
                                  </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <div class="search-categories">
                    <div class="row search-wrapper">
                        <div class="col-md-7 col-12 p-md-0 mb-2">
                            <div class="search-group">
                                <div class="icon">
                                    <img src="~/assets/img/Search_Icon.svg" alt="">
                                </div>
                                <input  type="text" placeholder="Cari Internship" v-model="search">
                            </div>
                        </div>

                        <!-- <div class="col-md-3 col-12 p-md-0 mb-2">
                            <select name="" id="">
                                <option value="">Semua Departemen</option>
                            </select>
                        </div> -->
                         
                        <!-- <div class="col-12 mb-2 p-md-0 mb-2 mobile">
                          <label for="select_fungsi"></label>
                            <select class="custom-select" name="" multiple id="select_fungsi">
                                <option selected>Semua Departemen</option>
                                <option value="Accounting and Finance">Accounting & Finance</option>
                                <option value="Administration and Coordination">Administration & Coordination</option>
                                <option value="General Services">General Services</option>
                                <option value="Human Resources">Human Resource</option>
                                <option value="IT and Software">IT & Software</option>
                                <option value="Media and Creatives">Media & Creatives</option>
                                <option value="Sales and Marketing">Sales & Marketing</option>
                            </select>
                        </div>   -->

                        <!-- <div class="col-12 mb-2 p-md-0 mobile">
                            <select name="" id="">
                                <option value="">Semua Fungsi</option>
                            </select>
                        </div>  -->


                        <!-- <div class="col-md-2 col-12 p-md-0">
                            <div class="btn btn-search text-center">CARI</div>
                        </div>  -->
                    </div>

                    <div class="row lists-categories desktop">
                        <div class="col-2">
                            <span>Job Function:</span>
                        </div>
                        <div class="col-10 no-padding">
                            <ul>
                                <li>
                                  <input type="checkbox" id="semua"/>
                                  <label for="semua">
                                    Semua
                                  </label>
                                </li>
                                <li>
                                  <input type="checkbox" id="finance"/>
                                  <label for="finance">
                                    Accounting & Finance
                                  </label>
                                </li>
                                <li>
                                  <input type="checkbox" id="admin"/>
                                  <label for="admin">
                                    Administration & Coordination
                                  </label>
                                </li>
                                <li>
                                  <input type="checkbox" id="general"/>
                                  <label for="general">
                                    General Services
                                  </label>
                                </li>
                                <li>
                                    <input type="checkbox" id="hr"/>
                                    <label for="hr">
                                      Human Resource
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="it"/>
                                    <label for="it">
                                      IT & Software
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="management"/>
                                    <label for="management">
                                      Management & Consultancy
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="media"/>
                                    <label for="media">
                                      Media & Creatives
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="sales"/>
                                    <label for="sales">
                                      Sales & Marketing
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="myCheckbox"/>
                                    <label for="myCheckbox">
                                      Click me!
                                    </label>
                                  </li>
                            </ul>
                        </div>
                    </div>

                    <!-- <div class="row lists-categories mobile">
                      <div class="col-12 no-padding">
                        <ul>
                          <li>
                            <input v-model="checkedAll" type="checkbox" id="semua"/>
                            <label for="semua">
                              Semua
                            </label>
                          </li>
                          <li>
                            <input v-model="checked" type="checkbox" id="finance" value="Accounting and Finance"/>
                            <label for="finance">
                              Accounting & Finance
                            </label>
                          </li>
                          <li>
                            <input v-model="checked" type="checkbox" id="admin" value="Administration and Coordination"/>
                            <label for="admin">
                              Administration & Coordination
                            </label>
                          </li>
                          <li>
                            <input v-model="checked" type="checkbox" id="general" value="General Services"/>
                            <label for="general">
                              General Services
                            </label>
                          </li>
                          <li>
                            <input v-model="checked" type="checkbox" id="hr" value="Human Resources"/>
                            <label for="hr">
                              Human Resource
                            </label>
                          </li>
                          <li>
                            <input v-model="checked" type="checkbox" id="it" value="IT and Software"/>
                            <label for="it">
                              IT & Software
                            </label>
                          </li>

                          <li>
                            <input v-model="checked" type="checkbox" id="media" value="Media and Creatives"/>
                            <label for="media">
                              Media & Creatives
                            </label>
                          </li>
                          <li>
                            <input v-model="checked" type="checkbox" id="sales" value="Sales and Marketing"/>
                            <label for="sales">
                              Sales & Marketing
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div> -->
                    
                </div>
            </div>
        </section>  
        <section class="jobs">
      <div class="container">
        <h1 class="title">LOWONGAN TERDAFTAR ({{totalJobs}})</h1>
        <div class="jobs-wrapper">
          <div class="row job-list" v-for="(job, index) in searchJob" :key="index">
            <div class="col-md-6 col-12 job-title">
              <nuxt-link :to="{path: '/detail/', query: {id: job.id} }">{{job.name}}</nuxt-link>
              <h3>{{job.function}}</h3>
            </div>
            <div class="col-md-5 col-12 location">
              <h3>{{job.google_location.address_components.city}}, {{job.google_location.address_components.country}} </h3>
            </div>
            <div class="col-md-1 col-12 detail">
              <nuxt-link :to="{path: '/detail/', query: {id: job.id} }" class="btn btn-job">Detail</nuxt-link>
              <!-- <div class="btn btn-job">Detail</div> -->
            </div>
          </div>
        </div>
      </div>
    </section> 
    <appFooter/>
    </div>
</template>
<script>
import appHeader from '~/components/header'
import appFooter from '~/components/Footer.vue'

export default {
    components: {
      appHeader,
      appFooter
    },
    data () {
        return {
            jobs: [],
            totalJobs: 0,
            search: ''
        }
    },
    created () {
        this.$axios.get(process.env.localApi + '?work_experience=100')
            .then(res => {
                this.jobs = res.data.jobs
                this.totalJobs = res.data.total_count
            })
    },
    computed: {
        searchJob: function () {
            const self = this
            return this.jobs.filter(job => {
                return job.name.toLowerCase().indexOf(self.search.toLowerCase()) >= 0
            })
        }
    }    
}
</script>
