<template>
  <div id="jobs">
    <appHeader/>
    <section class="jobs-category">
        <div class="container">
            <div class="row categories justify-content-center px-md-0 px-3">
                <div class="col-md-3 col-12 category px-md-0 px-4 mb-md-0 mb-2">
                    <span>INTERNSHIP</span>
                    <nuxt-link class="btn btn-main" to="/internship">LIHAT LOWONGAN ({{getIntern.length}})</nuxt-link>
                </div>
                <div class="col-md-3 col-12 category px-md-0 px-4 mb-md-0 mb-2">
                    <span>BRANCH OFFICE</span>
                    <nuxt-link class="btn btn-main" :to="{path: '/office/', query: {id: 'branch'} }">LIHAT LOWONGAN ({{jobsMaster.length - getIntern.length - headOffice.length}})</nuxt-link>
                </div>
                <div class="col-md-3 col-12 category px-md-0 px-4">
                    <span>HEAD OFFICE</span>
                    <nuxt-link class="btn btn-main" :to="{path: '/office/', query: {id: 'head'} }">LIHAT LOWONGAN ({{headOffice.length}})</nuxt-link>
                </div>
            </div>
            <div class="search-categories">
                <div class="row search-wrapper">
                    <div class="col-md-7 col-12 p-md-0 mb-2">
                        <div class="search-group">
                            <div class="icon">
                                <img src="~/assets/img/Search_Icon.svg" alt="">
                            </div>
                            <input  type="text" placeholder="Cari Pekerjaan" v-model="search">
                        </div>
                    </div>

                    <!-- <div class="col-md-3 col-12 p-md-0 mb-2">
                        <select name="" id="">
                            <option value="">Semua Departemen</option>
                        </select>
                    </div> -->
                      
                    <!-- <div class="col-12 mb-2 p-md-0 mb-2 mobile">
                      <label for="select_fungsi"></label>
                        <select class="custom-select" name="" multiple id="select_fungsi">
                            <option selected>Semua Departemen</option>
                            <option value="Accounting and Finance">Accounting & Finance</option>
                            <option value="Administration and Coordination">Administration & Coordination</option>
                            <option value="General Services">General Services</option>
                            <option value="Human Resources">Human Resource</option>
                            <option value="IT and Software">IT & Software</option>
                            <option value="Media and Creatives">Media & Creatives</option>
                            <option value="Sales and Marketing">Sales & Marketing</option>
                        </select>
                    </div>  -->
                    <!-- <div class="col-md-2 col-12 p-md-0">
                        <div class="btn btn-search text-center">CARI</div>
                    </div>  -->
                </div>
                <div class="row lists-categories mobile">
                    <!-- <div class="col-2">
                        <span>Job Function:</span>
                    </div> -->
                    <div class="col-12 no-padding">
                        <ul>
                            <li>
                              <input v-model="checkedAll" type="checkbox" id="semua"/>
                              <label for="semua">
                                Semua
                              </label>
                            </li>
                            <li>
                              <input v-model="checked" type="checkbox" id="finance" value="Accounting and Finance"/>
                              <label for="finance">
                                Accounting & Finance
                              </label>
                            </li>
                            <li>
                              <input v-model="checked" type="checkbox" id="admin" value="Administration and Coordination"/>
                              <label for="admin">
                                Administration & Coordination
                              </label>
                            </li>
                            <li>
                              <input v-model="checked" type="checkbox" id="general" value="General Services"/>
                              <label for="general">
                                General Services
                              </label>
                            </li>
                            <li>
                                <input v-model="checked" type="checkbox" id="hr" value="Human Resources"/>
                                <label for="hr">
                                  Human Resource
                                </label>
                              </li>
                              <li>
                                <input v-model="checked" type="checkbox" id="it" value="IT and Software"/>
                                <label for="it">
                                  IT & Software
                                </label>
                              </li>
                              <!-- <li>
                                <input type="checkbox" id="management" value="Media and Creatives"/>
                                <label for="management">
                                  Management & Consultancy
                                </label>
                              </li> -->
                              <li>
                                <input v-model="checked" type="checkbox" id="media" value="Media and Creatives"/>
                                <label for="media">
                                  Media & Creatives
                                </label>
                              </li>
                              <li>
                                <input v-model="checked" type="checkbox" id="sales" value="Sales and Marketing"/>
                                <label for="sales">
                                  Sales & Marketing
                                </label>
                              </li>
                        </ul>
                    </div>
                </div>
                <div class="row lists-categories desktop">
                    <div class="col-2">
                        <span>Job Function:</span>
                    </div>
                    <div class="col-10 no-padding">
                        <ul>
                            <li>
                              <input v-model="checkedAll" type="checkbox" id="semua"/>
                              <label for="semua">
                                Semua
                              </label>
                            </li>
                            <li>
                              <input v-model="checked" type="checkbox" id="finance" value="Accounting and Finance"/>
                              <label for="finance">
                                Accounting & Finance
                              </label>
                            </li>
                            <li>
                              <input v-model="checked" type="checkbox" id="admin" value="Administration and Coordination"/>
                              <label for="admin">
                                Administration & Coordination
                              </label>
                            </li>
                            <li>
                              <input v-model="checked" type="checkbox" id="general" value="General Services"/>
                              <label for="general">
                                General Services
                              </label>
                            </li>
                            <li>
                                <input v-model="checked" type="checkbox" id="hr" value="Human Resources"/>
                                <label for="hr">
                                  Human Resource
                                </label>
                              </li>
                              <li>
                                <input v-model="checked" type="checkbox" id="it" value="IT and Software"/>
                                <label for="it">
                                  IT & Software
                                </label>
                              </li>
                              <!-- <li>
                                <input type="checkbox" id="management" value="Media and Creatives"/>
                                <label for="management">
                                  Management & Consultancy
                                </label>
                              </li> -->
                              <li>
                                <input v-model="checked" type="checkbox" id="media" value="Media and Creatives"/>
                                <label for="media">
                                  Media & Creatives
                                </label>
                              </li>
                              <li>
                                <input v-model="checked" type="checkbox" id="sales" value="Sales and Marketing"/>
                                <label for="sales">
                                  Sales & Marketing
                                </label>
                              </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="jobs">
      <div class="container">
        <h1 class="title">SEMUA LOWONGAN ({{totalJobs}})</h1>
        <div class="jobs-wrapper">
          <div class="row job-list" v-for="(job, index) in searchJob" :key="index">
            <div class="col-md-6 col-12 job-title">
              <nuxt-link :to="{path: '/detail/', query: {id: job.id} }">{{job.name}}</nuxt-link>
              <h3>{{job.function}}</h3>
            </div>
            <div class="col-md-5 col-12 location">
              <h3>{{job.google_location.address_components.city}}, {{job.google_location.address_components.country}} </h3>
            </div>
            <div class="col-md-1 col-12 detail">
              <nuxt-link :to="{path: '/detail/', query: {id: job.id} }" class="btn btn-job">Detail</nuxt-link>
              <!-- <div class="btn btn-job">Detail</div> -->
            </div>
          </div>
        </div>
        <div class="load-more" @click="loadMore()">
          LOAD MORE ...
          <img src="~/assets/img/home/arrow.png" alt="">
        </div>
      </div>
    </section>
    <appFooter/>
  </div>
</template>
<script>
import appHeader from '~/components/header'
import appFooter from '~/components/Footer.vue'
import overlay from 'overlayscrollbars'

export default {
    components: {
        appHeader,
        appFooter
    },
    data () {
      return {
        jobs: [],
        jobsMaster: [],
        limit: 10,
        totalJobs: 0,
        search: '',
        functions: ['Accounting and Finance', 'Administration and Coordination', 'General Services', 'Human Resources', 'IT and Software', 'Media and Creatives', 'Sales and Marketing'],
        checked: []
      }
    },
    created () {
      this.$axios.get(process.env.localApi + '?offset=0&limit=999', {
        headers: {
          'Content-Type': 'application/json',
        }
      })
        .then(result => {
          this.jobs = result.data.jobs
          this.jobsMaster = result.data.jobs
          this.totalJobs = result.data.total_count
        })
    },
    mounted () {
      $('.dark-scroll').overlayScrollbars({
        className : "os-theme-dark",
      })
    },
    computed: {
      searchJob: function () {
        const self = this
        const filterJob = this.jobs.filter(job => {
          return job.name.toLowerCase().indexOf(self.search.toLowerCase()) >= 0
        })
        return filterJob.slice(0, self.limit)
      },
      checkedAll: {
	    
        get() {
          return this.checked.length === this.functions.length
        },
        
        set(value) {
          this.checked = []
          
          if (value) {
           const all = this.functions.map(func => func)
           this.checked = all
          }
        }
      },
      getIntern: function () {
        return this.jobsMaster.filter(job => {
          return job.work_experience === 100
        })
      },
      headOffice: function () {
        return this.jobsMaster.filter(job => {
          return job.google_location.address_components.city === 'South Jakarta'
        })
      }
    },
    methods: {
      loadMore: function () {
        
        this.limit += 10
        this.searchJob
      }
    },
    watch: {
      'checked' () {
        const self = this
        var jib = this.checked.map(check => {
          return self.jobsMaster.filter(job => {
            return job.function == check
          })
        })
        
        var newarr = []
        if (this.checked.length === 0) {
          newarr = self.jobsMaster
          
        } else {
          for (let  i=0; i<jib.length; i++) {
            for (let x=0; x<jib[i].length; x++) {
              newarr.push(jib[i][x])
            }
          }
        }
        this.jobs = newarr
        this.totalJobs = newarr.length
        console.log(newarr)
      }
    }
}
</script>

