<template>
    <div id="internship">
        <appHeader/>
        <section class="jobs-category">
            <div class="container">
                <!-- <div class="search-categories">
                    <div class="row search-wrapper">
                        <div class="col-7">
                            <div class="search-group">
                                <div class="icon">
                                    <img src="~/assets/img/Search_Icon.svg" alt="">
                                </div>
                                <input  type="text" placeholder="Cari Pekerjaan">
                            </div>
                        </div>
                        <div class="col-3">
                            <select name="" id="">
                                <option value="">Semua Departemen</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <div class="btn btn-search">CARI</div>
                        </div>  
                    </div>
                    <div class="row lists-categories">
                        <div class="col-2">
                            <span>Job Function:</span>
                        </div>
                        <div class="col-10 no-padding">
                            <ul>
                                <li>
                                  <input type="checkbox" id="semua"/>
                                  <label for="semua">
                                    Semua
                                  </label>
                                </li>
                                <li>
                                  <input type="checkbox" id="finance"/>
                                  <label for="finance">
                                    Accounting & Finance
                                  </label>
                                </li>
                                <li>
                                  <input type="checkbox" id="admin"/>
                                  <label for="admin">
                                    Administration & Coordination
                                  </label>
                                </li>
                                <li>
                                  <input type="checkbox" id="general"/>
                                  <label for="general">
                                    General Services
                                  </label>
                                </li>
                                <li>
                                    <input type="checkbox" id="hr"/>
                                    <label for="hr">
                                      Human Resource
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="it"/>
                                    <label for="it">
                                      IT & Software
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="management"/>
                                    <label for="management">
                                      Management & Consultancy
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="media"/>
                                    <label for="media">
                                      Media & Creatives
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="sales"/>
                                    <label for="sales">
                                      Sales & Marketing
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="myCheckbox"/>
                                    <label for="myCheckbox">
                                      Click me!
                                    </label>
                                  </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <div class="search-categories">
                    <div class="row search-wrapper">
                        <div class="col-md-7 col-12 p-md-0 mb-2">
                            <div class="search-group">
                                <div class="icon">
                                    <img src="~/assets/img/Search_Icon.svg" alt="">
                                </div>
                                <input  type="text" :placeholder="placehol" v-model="search">
                            </div>
                        </div>

                        <!-- <div class="col-md-3 col-12 p-md-0 mb-2">
                            <select name="" id="">
                                <option value="">Semua Departemen</option>
                            </select>
                        </div> -->
                         
                        <!-- <div class="col-12 mb-2 p-md-0 mobile">
                            <select name="" id="">
                                <option value="">Semua Fungsi</option>
                            </select>
                        </div>  -->

                        <!-- <div class="col-md-2 col-12 p-md-0">
                            <div class="btn btn-search text-center">CARI</div>
                        </div>  -->
                    </div>
                    <!-- <div class="row lists-categories desktop">
                        <div class="col-2">
                            <span>Job Function:</span>
                        </div>
                        <div class="col-10 no-padding">
                            <ul>
                                <li>
                                  <input type="checkbox" id="semua"/>
                                  <label for="semua">
                                    Semua
                                  </label>
                                </li>
                                <li>
                                  <input type="checkbox" id="finance"/>
                                  <label for="finance">
                                    Accounting & Finance
                                  </label>
                                </li>
                                <li>
                                  <input type="checkbox" id="admin"/>
                                  <label for="admin">
                                    Administration & Coordination
                                  </label>
                                </li>
                                <li>
                                  <input type="checkbox" id="general"/>
                                  <label for="general">
                                    General Services
                                  </label>
                                </li>
                                <li>
                                    <input type="checkbox" id="hr"/>
                                    <label for="hr">
                                      Human Resource
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="it"/>
                                    <label for="it">
                                      IT & Software
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="management"/>
                                    <label for="management">
                                      Management & Consultancy
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="media"/>
                                    <label for="media">
                                      Media & Creatives
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="sales"/>
                                    <label for="sales">
                                      Sales & Marketing
                                    </label>
                                  </li>
                                  <li>
                                    <input type="checkbox" id="myCheckbox"/>
                                    <label for="myCheckbox">
                                      Click me!
                                    </label>
                                  </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>  
        <section class="jobs">
          <div class="container">
            <h1 class="title">{{title}} ({{searchJob.length}})</h1>
            <div class="jobs-wrapper">
              <div class="row job-list" v-for="(job, index) in searchJob.slice(0, limit)" :key="index">
                <div class="col-md-6 col-12 job-title">
                  <nuxt-link :to="{path: 'detail', query: {id: job.id} }">{{job.name}}</nuxt-link>
                  <h3>{{job.function}}</h3>
                </div>
                <div class="col-md-5 col-12 location">
                  <h3>{{job.google_location.address_components.city}}, {{job.google_location.address_components.country}} </h3>
                </div>
                <div class="col-md-1 col-12 detail">
                  <nuxt-link :to="{path: 'detail', query: {id: job.id} }" class="btn btn-job">Detail</nuxt-link>
                  <!-- <div class="btn btn-job">Detail</div> -->
                </div>
              </div>
            </div>
            <div class="load-more" @click="loadMore()">
              LOAD MORE ...
              <img src="~/assets/img/home/arrow.png" alt="">
            </div>
          </div>
        </section> 
    <appFooter/>
    </div>
</template>
<script>
import appHeader from '~/components/header'
import appFooter from '~/components/Footer.vue'

export default {
    components: {
      appHeader,
      appFooter
    },
    data () {
        return {
            jobs: [],
            totalJobs: 0,
            totalJobsOffice: 0,
            search: '',
            limit: 10,
            title: '',
            placehol: ''
        }
    },
    created () {
        const r = this.$route.query.id
        if (r === 'head') {
          this.title = 'HEAD OFFICE'
          this.placehol = 'Cari Lowongan di Head Office'
        } else {
          this.title = 'BRANCH OFFICE'
          this.placehol = 'Cari Lowongan di Branch Office'
        }
        this.$axios.get(process.env.localApi + '?offset=0&limit=999')
            .then(res => {
                this.jobs = res.data.jobs
                this.totalJobs = res.data.total_count
            })
    },
    methods: {
      loadMore: function () {
        
        this.limit += 10
        this.searchJob
      }
    },
    computed: {
        searchJob: function () {
            const r = this.$route.query.id
            const self = this
            var datas
            if (r === 'head') {
                datas = this.jobs.filter(job => {
                    return job.name.toLowerCase().indexOf(self.search.toLowerCase()) >= 0 && job.google_location.address_components.city === 'South Jakarta'
                })
            } else {
                datas = this.jobs.filter(job => {
                    return job.name.toLowerCase().indexOf(self.search.toLowerCase()) >= 0 && job.google_location.address_components.city !== 'South Jakarta' && job.work_experience !== 100
                })  
            }
            // this.totalJobsOffice = datas.length
            return datas
        }
    }    
}
</script>
