<template>
    <div id="testimonial">
        <appHeader/>
        <section class="testi">
            <div class="container testi-wrapper testi-cont">
                <div class="row content">
                    <div class="col-md-6 col-12 person no-padding">
                        <img src="~/assets/img/testi/testi_person_01.jpg" alt="" class="img-resp">
                    </div>
                    <div class="col-md-6 col-12 col description no-padding">
                       <div class="description-wrapper">
                            Selama bekerja di Adira, saya mendapatkan tiga pokok utama dalam bekerja. Pertama, bekerja dan menghasilkan pekerjaan yang berkualitas. Kedua, menjunjung tinggi integritas dan yang ketiga adalah berkolaborasi untuk mencapai tujuan bersama. Sehingga berdampak ke dalam kehidupan sehari-hari saya.
                       </div>
                    </div>
                    <div class="col person-name no-padding">
                        <div class="name">Stepanus Hariara</div>
                        <div class="job">Web Development Specialist</div>
                        <div class="search-job">
                            <span class="icon"></span>
                            <a href="#">Cari pekerjaan seperti Stepanus</a>
                        </div>
                    </div>
                </div>
                <div class="row content">
                    <div class="col-md-6 col-12 person no-padding">
                        <img src="~/assets/img/testi/testi_person_02.jpg" alt="" class="img-resp">
                    </div>
                    <div class="col-md-6 col-12 description no-padding">
                        <div class="description-wrapper">
                            Adira finance adalah perusahaan besar dan merupakan tempat belajar yang sangat baik. Lingkungan yang koperatif dan saling mendukung antar sesama karyawan.
                       </div>
                    </div>
                    <div class="col person-name no-padding">
                        <div class="name">DIONY Alvreta</div>
                        <div class="job">Adira Leadership Development Program, <br> Digital Product Development</div>
                        <div class="search-job">
                            <span class="icon"></span>
                            <a href="#">Cari pekerjaan seperti Stepanus</a>
                        </div>
                    </div>
                </div>
                <div class="row content">
                    <div class="col-md-6 col-12 person no-padding">
                        <img src="~/assets/img/testi/testi_person_03.jpg" alt="" class="img-resp">
                    </div>
                    <div class="col-md-6 col-12 description no-padding">
                        <div class="description-wrapper">
                            Dibalik besarnya bisnis Adira Finance, ada suasana kerja yang nyaman, rasa kekeluargaan, dan nasionalisme. Bukan hanya fokus dengan perkembangan Adira Finance sendiri, tapi juga berkontribusi untuk kesejahteraan Indonesia. </div>
                    </div>
                    <div class="col person-name no-padding">
                        <div class="name">Levina Floretta</div>
                        <div class="job">Head of Customer Management</div>
                        <div class="search-job">
                            <span class="icon"></span>
                            <a href="#">Cari pekerjaan seperti Levina</a>
                        </div>
                    </div>
                </div>
                <div class="sliders-cont desktop">
                    <div class="sliders">
                        <!-- SLIDER 01 -->
                        <div class="sliders-wrapper">
                            <div class="slide">
                                <div class="col testi_img_slider no-padding">
                                <img src="~/assets/img/testi/sliders/testi_slider_01.jpg" alt="" class="img-resp">
                            </div>
                            <div class="col testi_desc_slider no-padding">
                                Saya mendapat banyak tantangan yang membangun saya menjadi pribadi yang lebih maju dan profesional. Didukung dengan lingkungan kerja yang menyenangkan dan terbuka dengan segala inovasi, saya sangat terbantu dalam meningkatkan kualitas diri saya.
                                <div class="person-name">
                                    <div class="name">Vincentia N. Wikaniswara</div>
                                    <div class="job">Digital Activation Executive</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- SLIDER 02 -->
                        <div class="sliders-wrapper">
                            <div class="slide">
                                <div class="col testi_img_slider no-padding">
                                <img src="~/assets/img/testi/sliders/testi_slider_02.png" alt="" class="img-resp">
                            </div>
                            <div class="col testi_desc_slider no-padding">
                                <p>Bekerja di Adira Finance, tantangan dan peluang yang ada membuat saya menjadi lebih berkembang. Saya bangga menjadi bagian dari Adira Finance dan senang melihat bahwa kami terus tumbuh dan memberikan hasil yang luar biasa.</p>
                                <div class="person-name">
                                    <div class="name">Felix Audrey</div>
                                    <div class="job">Head of Credit Process</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- SLIDER 03 -->
                        <div class="sliders-wrapper">
                            <div class="slide">
                                <div class="col testi_img_slider no-padding">
                                <img src="~/assets/img/testi/sliders/testi_slider_03.jpg" alt="" class="img-resp">
                            </div>
                            <div class="col testi_desc_slider no-padding">
                                Lingkungan kerja di mana setiap karyawan dapat mengembangkan ide dan membuat perbedaan! Tidak ada senioritas dan hal Ini menyenangkan juga memotivasi untuk menjadi bagian dari Adira Finance.
                                <div class="person-name">
                                    <div class="name">Josephine Leonita</div>
                                    <div class="job">Credit Process & Operations Support</div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mobile" id="other-testi">
                    <div class="row"> 
                        <div class="col p-0">
                            <img src="~/assets/img/testi/sliders/testi_slider_01.jpg" alt="" class="img-resp">
                        </div>
                        <div class="col p-0" data-toggle="collapse" href="#desc1">
                            <div class="person-name p-3">
                                <div class="name">Vincentia N. Wikaniswara</div>
                                <div class="job">Digital Activation Executive</div>
                            </div>
                            <div class="arrow down"></div>
                        </div>
                        <div class="col-12 description collapse" id="desc1"  data-parent="#other-testi">
                            <p class="px-2 py-3">
                                Saya mendapat banyak tantangan yang membangun saya menjadi pribadi yang lebih maju dan profesional. Didukung dengan lingkungan kerja yang menyenangkan dan terbuka dengan segala inovasi, saya sangat terbantu dalam meningkatkan kualitas diri saya.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-0 order-2">
                            <img src="~/assets/img/testi/sliders/testi_slider_02.png" alt="" class="img-resp">
                        </div>
                        <div class="col p-0 order-1" data-toggle="collapse" href="#desc2">
                            <div class="person-name p-3">
                                <div class="name">Felix Audrey</div>
                                <div class="job">Head of Credit Process</div>
                            </div>
                            <div class="arrow down"></div>
                        </div>
                        <div class="col-12 description collapse order-3" id="desc2" data-parent="#other-testi">
                            <p class="px-2 py-3">
                                Bekerja di Adira Finance, tantangan dan peluang yang ada membuat saya menjadi lebih berkembang. Saya bangga menjadi bagian dari Adira Finance dan senang melihat bahwa kami terus tumbuh dan memberikan hasil yang luar biasa.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-0">
                            <img src="~/assets/img/testi/sliders/testi_slider_03.jpg" alt="" class="img-resp">
                        </div>
                        <div class="col p-0" data-toggle="collapse" href="#desc3">
                            <div class="person-name p-3">
                                <div class="name">Josephine Leonita</div>
                                <div class="job">Credit Process & Operations Support</div>
                            </div>
                            <div class="arrow down"></div>
                        </div>
                        <div class="col-12 description collapse" id="desc3" data-parent="#other-testi">
                            <p class="px-2 py-3">
                                Lingkungan kerja di mana setiap karyawan dapat mengembangkan ide dan membuat perbedaan! Tidak ada senioritas dan hal Ini menyenangkan juga memotivasi untuk menjadi bagian dari Adira Finance.
                            </p>
                        </div>
                    </div>
                </div>
            </div>  
        </section>
        <section class="end-banner">
            <div class="row banner desktop">
                <div class="col img-banner no-padding">
                    <img class="img-resp" src="~/assets/img/home/end-banner.jpg" alt="">
                </div>
                <div class="col description">
                    <div class="content-wrapper">
                        <h1>BERGABUNG BERSAMA KAMI</h1>
                        <div class="content">
                            Jadilah bagian dari komunitas yang memiliki semangat kebersamaan untuk memberdayakan diri dan menyejahterakan bangsa melalui lingkungan kerja yang kondusif dan kolaboratif. 
                            <br><br>
                            <i>“Kami mendorong seluruh karyawan untuk menggali potensi diri
                            dan terus berkarya demi menciptakan kontribusi bagi sesama”</i>
                            <br> - Hafid Hadeli, Direktur Utama Adira Finance
                        </div>
                        <div class="btn btn-main">LIHAT PEKERJAAN</div>
                    </div>
                </div>
            </div>
            <div class="row banner mobile">
                <div class="col no-padding">
                    <div class="img-banner">
                        <div class="img-cont"></div>
                        <h1>BERGABUNG BERSAMA KAMI</h1>
                    </div>
                    <div class="description">
                        <div class="content-wrapper">
                            <div class="content">
                            <p>
                                Jadilah bagian dari komunitas yang memiliki semangat kebersamaan untuk memberdayakan diri dan menyejahterakan bangsa melalui lingkungan kerja yang kondusif dan kolaboratif. 
                            </p>
                            <p>
                                <i>“Kami mendorong seluruh karyawan untuk menggali potensi diri
                                dan terus berkarya demi menciptakan kontribusi bagi sesama”</i>
                                <br> - Hafid Hadeli, Direktur Utama Adira Finance
                            </p>
                            </div>
                            <div class="btn btn-main">LIHAT PEKERJAAN</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <appFooter/>
    </div>
</template>
<script>
import appHeader from '~/components/header.vue'
import appFooter from '~/components/Footer.vue'

export default {
    components: {
        appHeader,
        appFooter
    },
    mounted () {
        const sliderView = $('.sliders')
        
        sliderView.slick({
            dots: false,
            slidesToShow: 1,
        })
        
        $('#other-testi div[data-toggle="collapse"]').click(function(){
            $(this).find('.arrow').toggleClass('up');
            $(this).find('.arrow').toggleClass('down');
        })
    }
}
</script>

